
<section class="is-article-block">
    <div class="container">
        <div class="article-full-img">
            <img *ngIf="charity" [src]='charity?.cover?.url' [alt]='charity?.cover?.alt'/>
        </div>
        <div class="is-article-sec">
            <div class="is-left-profile">
                <div class="sticky-box">
                    <div class="is-profile">
                        <a>
                            <img class="avatar" src="assets/images/charity/fundraiser.png" alt="charity logo"/>
                        </a>
                    </div>
                    <div class="share-sec text-center">
                        <div class="addthis_inline_share_toolbox"></div>
                    </div>
                </div>
            </div>
            <div class="is-main-article-content">
                <div class="company-img">
                    <img *ngIf="charity" [src]='charity?.logo?.url' [alt]='charity?.logo?.alt' 
                    onerror="this.src='assets/images/default-avatar.png'"
                    />
                    <div class="special-icon" *ngIf="charity">
                        <img src="assets/images/charity-icon.png" />
                    </div>
                </div>
                <div class="is-content">
                    <div class="is-head">
                        <div class="company-name">
                            <h1>
                                <a [ngStyle]="{'color': charity?.color_code}">
                                    {{ charity?.name }}
                                </a>
                            </h1>
                        </div>
                        <div class="media-section">
                            <div class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                                <a nz-button [nzLoading]="isUpdatingFollow"><img src="assets/images/company/follow-icon.png" alt="company img">{{ "followCharity" | translate }}</a>
                            </div>
                            <div class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                                <a nz-button [nzLoading]="isUpdatingFollow"><img src="assets/images/company/follow-icon.png" alt="company img">{{ "unfollowCharity" | translate }}</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="is-body">
                        <div class="fundraiser-content">
                            <p class="big">{{ charity?.bio }}</p>
                            <br>
                            <p innerHTML={{charity?.presentation}}></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="is-right-ad-section">
                <div class="charity-form" *ngIf="charity && charity?.stripe_status == 'active'">
                    <h2>{{ "donateCharityTitle" | translate }}</h2>

                    <form nz-form [formGroup]="donateForm" (ngSubmit)="submitForm()" ngxStripeCardGroup [elementsOptions]="elementsOptions">
                        <nz-alert class="m-b-10" nzType="success" nzMessage="{{'donatedSuccessfully' | translate}}" nzShowIcon *ngIf="donateSuccess"></nz-alert>

                        <nz-form-item>
                            <nz-form-control nzErrorTip="{{'donateFirstNameError' | translate}}">
                                <input type="text" nz-input formControlName="first_name" placeholder="{{'donateInputFirstName' | translate}}" id="firstName">
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-control nzErrorTip="{{'donateLastNameError' | translate}}">
                                <input type="text" nz-input formControlName="last_name" placeholder="{{'donateInputLastName' | translate}}" id="lastName">
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-control nzErrorTip="{{'donateEmailError' | translate}}">
                                <input type="email" nz-input formControlName="email" placeholder="{{'donateInputEmail' | translate}}" id="email">
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-control nzErrorTip="{{'donateMobileError' | translate}}">
                                <input type="number" nz-input formControlName="mobile_number" placeholder="{{'donateInputPhoneNumber' | translate}}" id="phoneNumber">
                            </nz-form-control>
                        </nz-form-item>
                    
                        <nz-form-item>
                            <nz-form-control nzErrorTip="{{'donateAmountError' | translate}}">
                                <nz-input-group nzAddOnBefore="$">
                                    <input type="number" nz-input formControlName="amount" placeholder="{{'donateInputAmount' | translate}}" id="amount">
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-control nzErrorTip="{{'donateMessageError' | translate}}">
                                <textarea rows="3" nz-input formControlName="message" placeholder="{{'donateInputMessage' | translate}}" id="message"></textarea>
                            </nz-form-control>
                        </nz-form-item>

                        <div nz-row class="card-info" [ngClass]="{'errorBorder' : showInvalidCardError}">
                            <p class="card-header">{{ "paymentDetails" | translate }}</p>
                            <div nz-col nzSpan="24" class="card-number-col">
                                <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
                            </div>
                            <div nz-col nzSpan="11" class="card-expiry-col">
                                <ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry>
                            </div>
                            <div nz-col nzSpan="12" class="card-cvc-col">
                                <ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc>
                            </div>
                        </div>
                        <p *ngIf="showInvalidCardError" class="err-msg">{{ "invalidCardErrorMessage" | translate }}</p>

                        <div>
                            <nz-form-item>
                                <nz-form-control>
                                    <div class="text-center">
                                        <button nz-button class="is-login-btn mt-20" [nzLoading]="isFormSaving" [nzType]="'primary'">{{"leadSubmit" | translate}}</button>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</section>