<section class="is-hero">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-7 pl-18 article-height">
            <a class="is-hero-card" *ngFor="let article of heroArticles | slice:0:1"
                [routerLink]="['/',article.author.slug,article.slug]">
                <div class="is-card-bg"
                    [ngStyle]="{'background-image': 'url(' + replaceImage(article.image.url) + ')'}">
                </div>
                <div class="is-profile-main">
                    <div class="is-card-author-group">
                        <div class="overlay-icon">
                            <img class="avatar"
                            [src]="replaceImage(article.author.avatar?.url)!= unknown ? replaceImage(article.author.avatar?.url) : DefaultAvatar"
                            [alt]="article.author.avatar?.alt">
                            
                            <div class="special-icon" *ngIf="article.author.type==='company'">
                                <img src="assets/images/company-icon.png" style="max-width: 22px;"/>
                            </div>
                            <div class="special-icon" *ngIf="article.author.type==='charity'">
                                <img src="assets/images/charity-icon.png" />
                            </div>
                        </div>
                        <span class="is-card-author">{{article.author.fullname}}
                        </span>
                    </div>
                    <div class="divider"></div>
                    <div class="is-card-btn">
                        <button nz-button nzType="primary">{{article.category.title}}</button>
                    </div>
 
                </div>
                <div class="is-card-content">
                    <h2 class="is-small-title">
                        <span>{{'heroStory' | translate}}</span>
                        <div>{{article.title}}</div>
                    </h2>
                    <p class="is-card-description">{{article.excerpt | slice:0:100 }}</p>
                    
                       
                </div>
                <div class="article-comment-info">
                    <div class="article-icon">
                        <div class="icon-circle"  *ngIf="article.type==='audio'">
                            <i class="fas fa-volume-down"></i>
                        </div>
                        <div class="icon-circle"  *ngIf="article.type==='video'">
                            <i class="fas fa-video"></i>
                        </div>
                        <div class="icon-circle"  *ngIf="!(article.type==='audio' || article.type==='video')">
                            <i class="far fa-file-alt"></i>
                        </div>
                        <div  *ngIf="article.type==='audio'">
                            <button type="button" class="is-read-more">{{'ListenNow' | translate }}<img
                            src="assets/images/read-more-icon.png" alt="Listen Now" /></button>
                        </div>
                        <div  *ngIf="article.type==='video'">
                            <button type="button" class="is-read-more">{{'WatchNow' | translate }}<img
                            src="assets/images/read-more-icon.png" alt="Watch Now" /></button>
                        </div>
                        <div  *ngIf="!(article.type==='audio' || article.type==='video')">
                            <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                            src="assets/images/read-more-icon.png" alt="Read More" /></button>
                        </div>
                    </div>
                    <div class="comment-section">
                        <ul>
                            <li *ngIf="article.view_count">
                                <a href="#">
                                    <i class="fas fa-eye"></i>
                                    {{article.view_count}}
                                </a>
                            </li>
                            <li *ngIf="article.likes_count">
                                <a href="#">
                                    <i class="fas fa-heart"></i>
                                    {{article.likes_count}}
                                </a>
                            </li>
                            <li *ngIf="article.comments_count">
                                <a href="#">
                                    <i class="fa fa-comment"></i>
                                    {{article.comments_count}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
 
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 pr-18 article-height">
            <a class="is-hero-card" *ngFor="let article of heroArticles | slice:1:2"
                [routerLink]="['/',article.author.slug,article.slug]">
                <div class="is-card-bg" [ngStyle]="{'background-image': 'url(' + replaceImage(article.image.url)+ ')'}">
                </div>
                <div class="is-profile-main">
                    <div class="is-card-author-group">
                        <div  class="overlay-icon">
                            <img class="avatar"
                            [src]="replaceImage(article.author.avatar?.url)!= unknown ? replaceImage(article.author.avatar?.url) : DefaultAvatar"
                            [alt]="article.author.avatar?.alt">
                            <div class="special-icon" *ngIf="article.author.type==='company'">
                                <img src="assets/images/company-icon.png" style="max-width: 22px;"/>
                            </div>
                            <div class="special-icon" *ngIf="article.author.type==='charity'">
                                <img src="assets/images/charity-icon.png" />
                            </div>
                        </div>
                        <span class="is-card-author">{{article.author.fullname}}
                        </span>
                    </div>
                    <div class="divider"></div>
                    <div class="is-card-btn">
                        <button nz-button nzType="primary">{{article.category.title}}</button>
                    </div>
 
                </div>
                <div class="is-card-content">
                    <h2 class="is-small-title">
                        <span>{{'heroStory' | translate}}</span>
                        <div>{{article.title}}</div>
                    </h2>
                    <p class="is-card-description">{{article.excerpt | slice:0:100 }}</p>
                    
                    
                </div>
                <div class="article-comment-info">
                    <div class="article-icon">
                        <div class="icon-circle"  *ngIf="article.type==='audio'">
                            <i class="fas fa-volume-down"></i>
                        </div>
                        <div class="icon-circle"  *ngIf="article.type==='video'">
                            <i class="fas fa-video"></i>
                        </div>
                        <div class="icon-circle"  *ngIf="!(article.type==='audio' || article.type==='video')">
                            <i class="far fa-file-alt"></i>
                        </div>
                        <div  *ngIf="article.type==='audio'">
                            <button type="button" class="is-read-more">{{'ListenNow' | translate }}<img
                            src="assets/images/read-more-icon.png" alt="Listen Now" /></button>
                        </div>
                        <div  *ngIf="article.type==='video'">
                            <button type="button" class="is-read-more">{{'WatchNow' | translate }}<img
                            src="assets/images/read-more-icon.png" alt="Watch Now" /></button>
                        </div>
                        <div  *ngIf="!(article.type==='audio' || article.type==='video')">
                            <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                            src="assets/images/read-more-icon.png" alt="Read More" /></button>
                        </div>
                    </div>
                    <div class="comment-section">
                        <ul>
                            <li *ngIf="article.view_count">
                                <a href="#">
                                    <i class="fas fa-eye"></i>
                                    {{article.view_count}}
                                </a>
                            </li>
                            <li *ngIf="article.likes_count">
                                <a href="#">
                                    <i class="fas fa-heart"></i>
                                    {{article.likes_count}}
                                </a>
                            </li>
                            <li *ngIf="article.comments_count">
                                <a href="#">
                                    <i class="fa fa-comment"></i>
                                    {{article.comments_count}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
 
    </div>
    <div class="row">
        <div class="is-bottom-hero">
            <div class="row is-row-height pt-18">
                <div *ngFor="let article of heroArticles | slice:2:5"
                    [routerLink]="['/',article.author.slug,article.slug]" class="article-height col-12 col-sm-12 col-md-12 col-lg-4">
                    <a class="is-hero-card is-small-card"> 
 
                        <div class="is-card-bg"
                            [ngStyle]="{'background-image': 'url(' + replaceImage(article.image.url)+ ')'}"></div>
                        <div class="is-profile-main">
                            <div class="is-card-author-group">
                                <div  class="overlay-icon">
                                    <img class="avatar"
                                        [src]="replaceImage(article.author.avatar?.url)!= unknown ? replaceImage(article.author.avatar?.url) : DefaultAvatar"
                                        [alt]="article.author.avatar?.alt">
                                        <div class="special-icon" *ngIf="article.author.type==='company'">
                                            <img src="assets/images/company-icon.png" style="max-width: 22px;"/>
                                        </div>
                                        <div class="special-icon" *ngIf="article.author.type==='charity'">
                                            <img src="assets/images/charity-icon.png" />
                                        </div>
                                </div>
                                <span class="is-card-author">{{article.author.fullname}}</span>
                            </div>
                            <div class="divider"></div>
                            <div class="is-card-btn">
                                <button nz-button nzType="primary">{{article.category.title}}</button>
                            </div>
 
                        </div>
                        <div class="is-card-content">
                            <h2 class="is-small-title">
                                <span>{{'heroStory' | translate}}</span>
                                <div>{{article.title}}</div>
                            </h2>
                            <p class="is-card-description">{{article.excerpt}}</p>
                            
 
                        </div>
                        <div class="article-comment-info">
                            <div class="article-icon">
                                
                                <div class="icon-circle"  *ngIf="article.type==='video'">
                                    <i class="fas fa-video"></i>
                                </div>
                                <div class="icon-circle"  *ngIf="article.type==='audio'">
                                    <i class="fas fa-volume-down"></i>
                                </div>
                                <div class="icon-circle"  *ngIf="!(article.type==='audio' || article.type==='video')">
                                    <i class="far fa-file-alt"></i>
                                </div>
                                <div  *ngIf="article.type==='audio'">
                                    <button type="button" class="is-read-more">{{'ListenNow' | translate }}<img
                                    src="assets/images/read-more-icon.png" alt="Listen Now" /></button>
                                </div>
                                <div  *ngIf="article.type==='video'">
                                    <button type="button" class="is-read-more">{{'WatchNow' | translate }}<img
                                    src="assets/images/read-more-icon.png" alt="Watch Now" /></button>
                                </div>
                                <div  *ngIf="!(article.type==='audio' || article.type==='video')">
                                    <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                    src="assets/images/read-more-icon.png" alt="Read More" /></button>
                                </div>
                            </div>
                            <div class="comment-section">
                                <ul>
                                    <li *ngIf="article.view_count">
                                        <a href="#">
                                            <i class="fas fa-eye"></i>
                                            {{article.view_count}}
                                        </a>
                                    </li>
                                    <li *ngIf="article.likes_count">
                                        <a href="#">
                                            <i class="fas fa-heart"></i>
                                            {{article.likes_count}}
                                        </a>
                                    </li>
                                    <li *ngIf="article.comments_count">
                                        <a href="#">
                                            <i class="fa fa-comment"></i>
                                            {{article.comments_count}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
 
            </div>
 
 
        </div>
    </div>
 
 </section>
 
 
 <section class="is-follower-member">
 
   <iframe src="https://api.uprivaladserver.net/v2/a/iframe/?tid=5f3d95adba2e5417307a5d71&pid=5f41682aba2e541aa0a2910b&rnd=[CACHE-BUSTING-ID-HERE]&width=300&height=250" width="300" height="250" marginwidth="0" marginheight="0" scrollbars="0" scrolling="no" frameborder="0" bordercolor="#000000" vspace="0" hspace="0"></iframe>
    <div class="container">
        <div class="is-comman-title">
            <!-- You might also like : -->
            {{'secTitle' | translate }}
        </div>
        <div class="is-member">
            <div class="is-member-item" *ngFor="let author of (authorList | async)" [ngClass]="showTooltip"
                (mouseover)="showTooltip='is-show-hover'" (mouseout)="showTooltip=''">
 
                <a [routerLink]="['/',author.slug]" class="is-profile-img-link">
                    <img [src]="replaceImage(author?.avatar?.url)!= unknown ? replaceImage(author?.avatar?.url) : DefaultAvatar"
                        class="is-profile" [alt]="author?.avatar?.alt" />
 
                </a>
 
                <div class="is-member-hover">
                    <div class="is-member-profile-header">
                        <h3>{{author?.fullname}} </h3>
                        <img class="is-profile-hover-img"
                            [src]="replaceImage(author?.avatar?.url)!= unknown ? replaceImage(author?.avatar?.url) : DefaultAvatar"
                            [alt]="author?.avatar?.alt" />
                    </div>
                    <div class="is-member-profile-body">
                        <p innerHTML="{{author?.biography_en || author?.biography_es || author?.biography_fr}}"
                            class="author-bio">
                        </p>
                        <!-- <div class="is-profile-tag">
                            <span class="is-tag is-red">Entertainment</span>
                            <span class="is-tag is-purple">Opinion</span>
                            <span class="is-tag is-yellow">Life and Styles</span>
                        </div> -->
                    </div>
                </div>
            </div>
 
        </div>
        <div class="is-more-btn">
            <button nz-button nzType="primary" class="is-see-more" routerLink="/today">
                {{'ViewAllStory' | translate}}</button>
        </div>
    </div>
 </section>

 <section class="is-cat-box-card-main">
   <div class="cat-box bg-white">
      <div class="container">
         <div class="cat-box-title">
            <div class="article-title">
               <div class="title-txt">  {{'Top Trending Stories' | translate}}</div>
               <span class="line"></span>
            </div>
         </div>
         <div class="cat-box-gallery">
            <div class="row article-row">
               <div class="col-sm-15 box_shadow"  *ngFor="let article of trendingArticles | slice:0:10"  [ngClass]="article.category.slug">
               <div class="item-card item-card-life-and-styles">
                  <a [routerLink]="['/',article.author.slug,article.slug]">
                     <div class="item-card-image">
                        <img [src]="replaceImage(article.image.url)" [alt]="article.image.alt">
                        <h3 class="is-category-title">{{article.category.title}}</h3>
                        <div class="article-image-icon" *ngIf="article.type==='audio'">
                           <i class="fas fa-play"></i>
                        </div>
                        <div class="article-image-icon" *ngIf="article.type==='video'">
                           <i class="fas fa-play"></i>
                        </div>
                        <div class="article-image-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                           <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="comment-right">
                           <div class="article-comment-info">
                              <div class="comment-section">
                                 <ul>
                                    <li *ngIf="article.view_count">
                  <a href="#">
                  <i class="fas fa-eye"></i>
                  {{article.view_count}}
                  </a>
                  </li>
                  <li *ngIf="article.likes_count">
                  <a href="#">
                  <i class="fas fa-heart"></i>
                  {{article.likes_count}}
                  </a>
                  </li>
                  <li *ngIf="article.comments_count">
                  <a href="#">
                  <i class="fa fa-comment"></i>
                  {{article.comments_count}}
                  </a>
                  </li>
                  </ul>
                  </div>
                  <div class="clearfix"></div>
                  </div>
                  </div>
                  </div>
                  <div class="item-card-content">
                     <div class="item-card-category cat-yellow">
                        <div class="is-avatar-dv">
                           <div class="overlay-icon">
                              <img class="avatar" [src]="replaceImage(article.author.avatar?.url)"
                              [alt]="article.author.avatar?.alt"
                              onerror="this.src='assets/images/default-avatar.png'">
                              <app-article-avatar [article]="article"></app-article-avatar>
                           </div>
                           <span class="item-card-author">{{article.author.fullname}}</span>
                        </div>
                     </div>
                     <div class="item-card-title">
                        <h4 class="item-long-title">{{article.title}}</h4>
                     </div>
                     <div class="item-card-texte">
                        <p>{{article.excerpt}}</p>
                        <div class="category-article-readmore">
                           <div  *ngIf="article.type==='audio'">
                              <button type="button" class="is-read-more">{{'ListenNow' | translate }} <img
                                 src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                           </div>
                           <div  *ngIf="article.type==='video'">
                              <button type="button" class="is-read-more">{{'WatchNow' | translate }}<img
                                 src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                           </div>
                           <div  *ngIf="!(article.type==='audio' || article.type==='video')">
                              <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                 src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                           </div>
                           <div class="article-icon-main">
                              <div class="article-icon" *ngIf="article.type==='audio'">
                                 <i class="fas fa-volume-down"></i>
                              </div>
                              <div class="article-icon" *ngIf="article.type==='video'">
                                 <i class="fas fa-video"></i>
                              </div>
                              <div class="article-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                                 <i class="far fa-file-alt"></i>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  </a>
               </div>
            </div>
            <div class="clearfix"></div>
            <!-- <div class="is-more-btn">
               <a [routerLink]="['/category/', category.slug]" class="is-see-more">
                  Load More
               </a>
               </div> -->
         </div>
      </div>
   </div>
   </div>
</section>

 <section class="is-cat-box-card-main">
    <div class="cat-box bg-white">
       <div class="container">
          <div class="cat-box-title">
             <div class="article-title">
                <div class="title-txt"> {{'Latest Stories' | translate}}</div>
                <span class="line"></span>
             </div>
          </div>
          <div class="cat-box-gallery">
             <div class="row article-row">
                <div class="col-sm-15 box_shadow"  *ngFor="let article of latestArticles | slice:5:20" [ngClass]="article.category.slug">
                 <div class="item-card item-card-life-and-styles">
                   <a [routerLink]="['/',article.author.slug,article.slug]">
                      <div class="item-card-image">
                         <img [src]="replaceImage(article.image.url)" [alt]="article.image.alt">
                         <h3 class="is-category-title">{{article.category.title}}</h3>
                         <div class="article-image-icon" *ngIf="article.type==='audio'">
                            <i class="fas fa-play"></i>
                         </div>
                         <div class="article-image-icon" *ngIf="article.type==='video'">
                            <i class="fas fa-play"></i>
                         </div>
                         <div class="article-image-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                            <i class="fas fa-angle-right"></i>
                         </div>
                         <div class="comment-right">
                            <div class="article-comment-info">
                               <div class="comment-section">
                                  <ul>
                                     <li *ngIf="article.view_count">
                   <a href="#">
                   <i class="fas fa-eye"></i>
                   {{article.view_count}}
                   </a>
                   </li>
                   <li *ngIf="article.likes_count">
                   <a href="#">
                   <i class="fas fa-heart"></i>
                   {{article.likes_count}}
                   </a>
                   </li>
                   <li *ngIf="article.comments_count">
                   <a href="#">
                   <i class="fa fa-comment"></i>
                   {{article.comments_count}}
                   </a>
                   </li>
                   </ul>
                   </div>
                   <div class="clearfix"></div>
                   </div>
                   </div>
                   </div>
                   <div class="item-card-content">
                      <div class="item-card-category cat-yellow">
                         <div class="is-avatar-dv">
                            <div class="overlay-icon">
                               <img class="avatar" [src]="replaceImage(article.author.avatar?.url)"
                               [alt]="article.author.avatar?.alt"
                               onerror="this.src='assets/images/default-avatar.png'">
                               <app-article-avatar [article]="article"></app-article-avatar>
                            </div>
                            <span class="item-card-author">{{article.author.fullname}}</span>
                         </div>
                      </div>
                      <div class="item-card-title">
                         <h4 class="item-long-title">{{article.title}}</h4>
                      </div>
                      <div class="item-card-texte">
                         <p>{{article.excerpt}}</p>
                         <div class="category-article-readmore">
                            <div  *ngIf="article.type==='audio'">
                               <button type="button" class="is-read-more">{{'ListenNow' | translate }} <img
                                  src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                            <div  *ngIf="article.type==='video'">
                               <button type="button" class="is-read-more">{{'WatchNow' | translate }}<img
                                  src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                            <div  *ngIf="!(article.type==='audio' || article.type==='video')">
                               <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                  src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                            <div class="article-icon-main">
                               <div class="article-icon" *ngIf="article.type==='audio'">
                                  <i class="fas fa-volume-down"></i>
                               </div>
                               <div class="article-icon" *ngIf="article.type==='video'">
                                  <i class="fas fa-video"></i>
                               </div>
                               <div class="article-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                                  <i class="far fa-file-alt"></i>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   </a>
                </div>
             </div>
             <div class="clearfix"></div>
             <!-- <div class="is-more-btn">
                <a [routerLink]="['/category/', category.slug]" class="is-see-more">
                   Load More
                </a>
                </div> -->
          </div>
       </div>
    </div>
    </div>
 </section>


 <section class="company-section" style="display:none;">
    <div class="container">
       <div class="article-title">
          <div class="title-txt">The People's Voice</div>
          <span class="line"></span>
       </div>
       <div class="row">
          <div class="col-lg-4 company-detail">
             <h2>Top 10 categories on My Trending Stories</h2>
             <p>My Trending Stories is a creative platform made easy and allows writers, videographers, photographers, artists, musicians and many more, to rack in benefits from their passion.</p>
             <button type="button" class="is-read-more">{{'Get started' | translate }}<img
                src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
          </div>
          <div class="col-lg-8">
             <div class="company-box-main">
                <div class="company-box">
                   <div class="company-logo">
                      <img src="assets/images/company-logo/facebook.png" alt="" />
                   </div>
                   <span>Life and Styles</span>
                </div>
                <div class="company-box">
                   <div class="company-logo">
                      <img src="assets/images/company-logo/google.png" alt="" />
                   </div>
                   <span>Business</span>
                </div>
                <div class="company-box">
                   <div class="company-logo">
                      <img src="assets/images/company-logo/linked-in.png" alt="" />
                   </div>
                   <span>News</span>
                </div>
                <div class="company-box">
                   <div class="company-logo">
                      <img src="assets/images/company-logo/apple.png" alt="" />
                   </div>
                   <span>Sports</span>
                </div>
                <div class="company-box">
                   <div class="company-logo">
                      <img src="assets/images/company-logo/nike.png" alt="" />
                   </div>
                   <span>Religion</span>
                </div>
                <div class="company-box">
                   <div class="company-logo">
                      <img src="assets/images/company-logo/uber.png" alt="" />
                   </div>
                   <span>Creative</span>
                </div>
                <div class="company-box">
                   <div class="company-logo">
                      <img src="assets/images/company-logo/apple.png" alt="" />
                   </div>
                   <span>Opinion</span>
                </div>
                <div class="company-box">
                   <div class="company-logo">
                      <img src="assets/images/company-logo/youtube.png" alt="" />
                   </div>
                   <span>Tech and Science</span>
                </div>
                <div class="company-box">
                   <div class="company-logo">
                      <img src="assets/images/company-logo/reebok.png" alt="" />
                   </div>
                   <span>Viral</span>
                </div>
                <div class="company-box">
                   <div class="company-logo">
                      <img src="assets/images/company-logo/amazon.png" alt="" />
                   </div>
                   <span>Entertainment</span>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>

 <section class="is-cat-box-card-main">
    <div class="cat-box bg-white">
       <div class="container">
          <div class="cat-box-title">
             <div class="article-title">
                <div class="title-txt"> {{'Editor\'s pick' | translate}}</div>
                <span class="line"></span>
             </div>
          </div>
          <div class="cat-box-gallery">
             <div class="row article-row">
                <div class="col-sm-15 box_shadow"  *ngFor="let article of heroArticles | slice:0:5" [ngClass]="article.category.slug">
                 <div class="item-card item-card-life-and-styles">
                   <a [routerLink]="['/',article.author.slug,article.slug]">
                      <div class="item-card-image">
                         <img [src]="replaceImage(article.image.url)" [alt]="article.image.alt">
                         <h3 class="is-category-title">{{article.category.title}}</h3>
                         <div class="article-image-icon" *ngIf="article.type==='audio'">
                            <i class="fas fa-play"></i>
                         </div>
                         <div class="article-image-icon" *ngIf="article.type==='video'">
                            <i class="fas fa-play"></i>
                         </div>
                         <div class="article-image-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                            <i class="fas fa-angle-right"></i>
                         </div>
                         <div class="comment-right">
                            <div class="article-comment-info">
                               <div class="comment-section">
                                  <ul>
                                     <li *ngIf="article.view_count">
                   <a href="#">
                   <i class="fas fa-eye"></i>
                   {{article.view_count}}
                   </a>
                   </li>
                   <li *ngIf="article.likes_count">
                   <a href="#">
                   <i class="fas fa-heart"></i>
                   {{article.likes_count}}
                   </a>
                   </li>
                   <li *ngIf="article.comments_count">
                   <a href="#">
                   <i class="fa fa-comment"></i>
                   {{article.comments_count}}
                   </a>
                   </li>
                   </ul>
                   </div>
                   <div class="clearfix"></div>
                   </div>
                   </div>
                   </div>
                   <div class="item-card-content">
                      <div class="item-card-category cat-yellow">
                         <div class="is-avatar-dv">
                            <div class="overlay-icon">
                               <img class="avatar" [src]="replaceImage(article.author.avatar?.url)"
                               [alt]="article.author.avatar?.alt"
                               onerror="this.src='assets/images/default-avatar.png'">
                               <app-article-avatar [article]="article"></app-article-avatar>
                            </div>
                            <span class="item-card-author">{{article.author.fullname}}</span>
                         </div>
                      </div>
                      <div class="item-card-title">
                         <h4 class="item-long-title">{{article.title}}</h4>
                      </div>
                      <div class="item-card-texte">
                         <p>{{article.excerpt}}</p>
                         <div class="category-article-readmore">
                            <div  *ngIf="article.type==='audio'">
                               <button type="button" class="is-read-more">{{'ListenNow' | translate }} <img
                                  src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                            <div  *ngIf="article.type==='video'">
                               <button type="button" class="is-read-more">{{'WatchNow' | translate }}<img
                                  src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                            <div  *ngIf="!(article.type==='audio' || article.type==='video')">
                               <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                  src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                            <div class="article-icon-main">
                               <div class="article-icon" *ngIf="article.type==='audio'">
                                  <i class="fas fa-volume-down"></i>
                               </div>
                               <div class="article-icon" *ngIf="article.type==='video'">
                                  <i class="fas fa-video"></i>
                               </div>
                               <div class="article-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                                  <i class="far fa-file-alt"></i>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   </a>
                </div>
             </div>
             <div class="clearfix"></div>
             <!-- <div class="is-more-btn">
                <a [routerLink]="['/category/', category.slug]" class="is-see-more">
                   Load More
                   
                </a>
                </div> -->
          </div>
       </div>
    </div>
    </div>
 </section>
 <section class="audio-section" style="background: url(assets/images/home-audio-banner.jpg) top center no-repeat; display:none;">
    <div class="container">
       <div class="audio-detail">
          <span class="category">Newsletter</span>
          <h2>
             How to Describe Company Culture in Positive Words
          </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard, when an unknown printer took a galley of type</p>
          <a href="#">
          <span class="circle"><i class="fas fa-sign-in-alt"></i></span>
          {{'Subscribe' | translate }}
          </a>
       </div>
    </div>
 </section>