<div class="container">
    <div class="profile-setting-main">
        <div class="page-header has-tab">
            <h2 class="font-weight-normal"> {{ 'CompanyInfo' | translate }}</h2>
        </div>
        <nz-tabset class="page-header-tab">
            <nz-tab nzTitle="{{'CompanyDetails'| translate}}">
                <app-add-company class="m-10"></app-add-company>
            </nz-tab>
            <nz-tab nzTitle="{{'CompanyFollowers'| translate}}">
                <app-company-followers></app-company-followers>
            </nz-tab>
            <nz-tab nzTitle="{{'CompanyLeads'| translate}}">
                <app-company-leads></app-company-leads>
            </nz-tab>
            <nz-tab nzTitle="{{'CompanyArticle'| translate}}">
                <app-company-article></app-company-article>
            </nz-tab>
            <nz-tab nzTitle="{{'CompanyFundraisers'| translate}}">
                <app-company-fundraisers></app-company-fundraisers>
            </nz-tab>
        </nz-tabset>

    </div>
</div>