.header{
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,.02);
    .vertical-center{
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    .lang-dropdown{
        width:55px;
        select{
            width: 100%;
            border:1px solid #eee;
            padding: 5px;
        }
    }

.nav-right{
    margin-right: 0px;
    li{
        a{
            &:hover{
                background-color: transparent;
            }
        }
        
        .is-login-link{
            color: #000;
            font-weight: 500;
            font-size: 13px;
        }
        .is-sign-up-btn{
            border-radius: 30px;
            font-size: 14px;
            outline: none;
            ::ng-deep span{
                margin-right: 5px;
            }
        }
    }
}

}

.vertical-center{
    .nav-wrap {
        -webkit-box-pack: end;
        justify-content: flex-end;
    }
}
.is-search-icon{
    a:focus{
        background: transparent !important;
    }
}
@media screen and (max-width:992px){
    .header{
        .nav-wrap{
            .nav-right{
                li{
                    .is-sign-up-btn{
                        padding: 5px 10px;
                        font-size: 14px;
                    }
                }
            }
        }
        
}
}

@media screen and (max-width:993px){
    .header{
        height: 130px;
        top:-1px;
        .border-xs{
            border-bottom: 1px solid #eee;
        .logo{ 
            &.logo-dark{
                display: flex !important;
                text-align: center;
                justify-content: center;
                margin: auto;
                max-width: 200px;
            }
        }
    }
}
}

@media screen and (max-width:580px){
    .header{
        .language-col{
            padding-left: 0px;
            ::ng-deep .ant-select-show-arrow{
                .ant-select-selector{
                    padding: 0 3px;
                    font-size: 10px;
                    
                }
            }
            ::ng-deep .ant-select-item-option-content{
                font-size: 10px;
            }
            li{
                .is-login-link{
                    font-size: 11px;
                    padding: 5px;
                }
            }
            li{
                .is-sign-up-btn{
                    padding: 5px 8px;
                    font-size: 12px !important;
                }
            }
            
        }

    }
}

@media screen and (min-width:993px) and (max-width:1199px){
    .header{
        height: 130px;
        top:-1px;
        .border-xs{
            border-bottom: 1px solid #eee;
    }
    .logo-col{
        .logo{
            margin: auto;
        }
    }

    .language-col{
        padding-left: 0px;
        ::ng-deep .ant-select-show-arrow{
            .ant-select-selector{
                padding: 0 3px;
                font-size: 12px;
                
            }
        }
        ::ng-deep .ant-select-item-option-content{
            font-size: 10px;
        }
        li{
            .is-login-link{
                font-size: 14px;
                padding: 5px;
            }
        }
        li{
            .is-sign-up-btn{
                padding: 5px 8px;
                font-size: 14px !important;
            }
        }
        
    }
  }
  }


@media screen and (min-width:1200px) and (max-width:1279px) {
    .header{
        height: 140px;
    .logo-col{
        width: 100%;
        max-width: 100%;
        text-align: center;
        flex: unset;
        border-bottom: 1px solid #eee;
        .logo{
            margin: auto;
        }
    }
    .menu-col{
        width: calc(100% - 380px);
        flex: unset;
        max-width: 100%;
    }
    .language-col{
        width: 360px;
        flex: unset;
        max-width: 100%;
    }
}
}
@media screen and (min-width:1280px) and (max-width:1359px) {
    .header{
        height: 70px;
    .logo-col{
        width: auto;
        max-width: unset;
        text-align: center;
        flex: unset;
        border-bottom: 1px solid #eee;
        .logo{
            margin: auto;
        }
    }
    .menu-col{
        width: auto;
        flex: 1;
        max-width: unset;
    }
    .language-col{
        width: auto;
        flex: unset;
        max-width: unset;
    }
}
}
@media screen and (min-width:1360px){
    .header{
        height: 70px;
    .logo-col{
        width: auto;
        max-width: unset;
        text-align: center;
        flex: unset;
        border-bottom: 1px solid #eee;
        .logo{
            margin: auto;
        }
    }
    .menu-col{
        width: auto;
        flex: 1;
        max-width: unset;
    }
    .language-col{
        width: auto;
        flex: unset;
        max-width: unset;
    }
}
}