<section class="is-signup-main">
    <div class="is-signup-center">
        <div class="row no-gutters h-100">
            <div class="col-sm-6 col-lg-5 is-form-img"
                style="background-image:url('assets/images/others/sign-up-mts.png')">
                <div class="is-banner-content">
                    <div class="is-logo">
                        <img src="assets/images/logo/logo-white.png" alt="">
                    </div>
                    <div class="is-img-title">
                        <h3>{{'thePeopleVoice' | translate}}</h3>
                        <p>{{'loginBannerDes' | translate}}</p>

                    </div>
                    <div class="is-signup-footer">
                        <span class="text-white">© 2020 My Trending Stories</span>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="text-white text-link" routerLink="/terms">{{'loginTerms' | translate}}</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-white text-link" routerLink="/contact">{{'loginContact' | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  col-lg-7 bg-white">
                <div class="is-signup-form-main">
                    <div class="is-form">
                        <h2>{{'signUp' | translate}}</h2>
                        <p>{{'signUpTitleDes' | translate}}</p>
                        <form nz-form [formGroup]="signUpForm" class="login-form" (ngSubmit)="submitForm()">

                            <nz-alert class="m-b-10" nzType="error" nzDescription=" {{'invalidCaptchaErr' | translate}}"
                                nzShowIcon *ngIf="invalidCaptcha"></nz-alert>


                            <nz-alert class="m-b-10" *ngIf="enableEmailVerificationScreen" nzType="info"
                                nzMessage="{{'verifyEmailTitle' | translate}}"
                                nzDescription="{{'verifySignUpEmailDesc' | translate}}" nzShowIcon></nz-alert>

                            <nz-alert nzType="error" [nzDescription]="errorSignup" *ngIf="errorSignup">
                                <ng-template #errorSignup>
                                    <ng-container>
                                        {{'alreadyEmailError' | translate}} <a
                                            href="/login">{{'logIn' | translate}}</a>.
                                    </ng-container>
                                </ng-template>
                            </nz-alert>
                            <nz-alert nzType="error" [nzDescription]="errorPasswordWeak" *ngIf="errorPasswordWeak">
                                <ng-template #errorPasswordWeak>
                                    <ng-container>
                                        {{'passwordError' | translate}}


                                    </ng-container>
                                </ng-template>
                            </nz-alert>
                            <nz-alert nzType="error" [nzDescription]="errorAgree" *ngIf="errorAgree" class="mb-2">
                                <ng-template #errorAgree>
                                    <ng-container>
                                        {{'signUpAgreement' | translate}}
                                    </ng-container>
                                </ng-template>
                            </nz-alert>
                            <nz-form-item>
                                <!-- <nz-form-label nzRequired nzFor="fullname">Fullname</nz-form-label> -->
                                <nz-form-control nzErrorTip="{{'fullNameError' | translate}}" class="is-icon">
                                    <input type="text" nz-input formControlName="fullname"
                                        placeholder="{{'signUpFullName' | translate}}" id="fullname">
                                    <img src="assets/images/sign-up/user.png" />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <!-- <nz-form-label nzRequired nzFor="email">Email</nz-form-label> -->
                                <nz-form-control nzErrorTip="{{'loginEmailError' | translate}}" class="is-icon">
                                    <input type="text" nz-input formControlName="email"
                                        placeholder="{{'loginInputEmail' | translate}}" id="email">
                                    <img src="assets/images/sign-up/email.png" />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <!-- <nz-form-label nzRequired nzFor="password">Password</nz-form-label> -->
                                <nz-form-control nzErrorTip="{{'passwordError' | translate}}" class="is-icon">
                                    <input type="password" nz-input formControlName="password"
                                        placeholder="{{'loginInputPassword' | translate}}" id="password">
                                    <img src="assets/images/sign-up/password.png" />
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <!-- <nz-form-label nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label> -->
                                <nz-form-control [nzErrorTip]="errorTpl" class="is-icon">
                                    <input nz-input type="password" formControlName="checkPassword"
                                        placeholder="{{'signUpConfirmPassword' | translate}}" id="checkPassword">
                                    <img src="assets/images/sign-up/password.png" />
                                    <ng-template #errorTpl let-control>
                                        <ng-container *ngIf="control.hasError('required')">
                                            {{'confirmPasswordError' | translate}}
                                        </ng-container>
                                        <ng-container *ngIf="control.hasError('confirm')">
                                            {{'twoPasswodError' | translate}}
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                            <div>
                                <nz-form-item>
                                    <nz-form-control>
                                        <label nz-checkbox class="agree-check" formControlName="agree" nzRequired
                                            style="margin-right:0px"><span>{{'signUpTermRead' | translate}}</span></label><a
                                            routerLink="/terms">{{'loginTerms' | translate}}</a>
                                    </nz-form-control>
                                </nz-form-item>
                                <div #recaptcha class="m-b-10">Loading Captcha...</div>
                                <nz-form-item>
                                    <nz-form-control>
                                        <div class="text-center">
                                            <button nz-button class="is-login-btn" [nzLoading]="isFormSaving"
                                                [nzType]="'primary'">{{'signUp' | translate}}</button>
                                        </div>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <!-- <div class="is-login-with-other">
                                    <div class="is-or-txt">
                                        <span>Or sign up using</span>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#"><img src="assets/images/sign-up/facebook.png" /></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="assets/images/sign-up/twitter.png" /></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="assets/images/sign-up/google.png" /></a>
                                        </li>
                                    </ul>
                                </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>