
.is-category-hero{
  background: #fff;
  padding-bottom: 40px;
  .row,.col-sm{
   padding: 0px;
   margin: 0px;
 }
 .is-hero-card{
  &:after{
    content: '';
    display: none !important;
  }
}
 .is-category-hero{
  position: relative; 
  padding: 0px 0px 60px 60px;
  &:after{
    content: "";
    position: absolute;
    top: 60px;
    right: 60px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    background: #eeeeee;
    z-index: 1;
   }
   img{
     width: 100%;
     position: relative;
     z-index: 2;
   }
 }
 .is-row-height{
   &.pt-18{
     padding-top: 18px;
   }
 }
 .is-hero-card{
   width:100%;
   height: 100%;
   position: relative;
   display: inline-block;
   padding: 25px;
   overflow: hidden;

   .is-profile-main{
     position: relative;
     z-index: 1;
     display: flex;
     align-items: center;
     .divider{
       width: 100%;
       height: 1px;
       background: #000;
       margin: 0px 10px;
     }
     .is-card-author-group{
       display: -webkit-box;
       display: flex;
       -webkit-box-align: center;
       align-items: center;
       flex: 1;
       white-space: nowrap;
     img{
       width: 55px;
       height: 55px;
       border-radius: 100%;

     }
     .is-card-author{
       font-size: 15px;
       color: #000;
       margin-left: 10px;
       font-family: "josefin_sansregular";
     }
   }
   .is-card-btn{
     flex: 1;
       white-space: nowrap;
     text-align: right;
     button{
       color: #ff4020;
       font-family: "josefin_sansregular";
       font-size: 20px;
       background: transparent;
       border: 0px;
     }
   }
   }

   .is-card-bg{
     position: absolute;
     left: 0px;
     top: 0px;
     background-size:cover;
     width:100%;
     height: 100%;
     transition: 0.5s all ease;
   }
   &:hover .is-card-bg{
     -webkit-transform: scale(1.2);
     transform: scale(1.2);
   }
   .is-card-content{
     position: relative;
     max-width: 90%;
     z-index: 1;
     .is-small-title{
       font-size: 33px;
       color: #fff;
       padding-top: 20px;
       line-height: normal;
       font-family: 'josefin_sansbold';
       position: relative;
       padding-bottom: 25px;
       margin-bottom: 25px;
       div{
         line-height: 42px;
         color: #000;
       }
       span{
         font-family: "josefin_sansregular";
         display: block;
         color: #ff4020;
         font-size: 20px;
         text-transform: capitalize;
         padding-bottom: 20px;
         padding-top: 20px;
       }
       &:before{
         content: '';
         position: absolute;
         bottom: 0px;
         left: 0px;
         width: 60px;
         height: 3px;
         background: #000;
       }
     }
   
     .is-card-btn{
       display: inline-block;
       margin: 15px 0px 10px 0px;
       
     }
     .is-card-description{
       font-size: 21px;
       color: #817f7f;
       line-height: 30px;
       font-family: 'open_sansregular';
     }
    
   }
   &.is-small-card{
     padding: 15px;
     .is-card-btn{
       margin: 0px;
     }
     .is-card-author{
       margin: 0px 10px 0px 0px;
     }
     .is-card-description{
       margin-top: 10px;
     }
     .is-card-content{
       width: calc(100% - 30px);
       max-width: 100%;
     }
     .is-card-description{
       font-size: 16px;
     }
   }
 }
}


/*Title Row*/
.title-row{
  padding: 20px 0px 0px 0px;
    
    .btn-rss {
      text-align: center;
      margin-top: 4px;
      margin-left: 10px;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
  
  
      a {
        padding: 0px;
        text-transform: capitalize;
        font-size: 13px;
        display: inline-block;
        font-family: "josefin_sansregular";
        font-size: 20px;
        color: #fff;
        line-height: 21px;
        background: #ff4020;
        height: 50px;
        padding-left: 20px;
      }
      .rss-icon{
        background: #c01c00;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    display: inline-block;
    margin-left: 10px;
      }
  
  }
  .right-btn-bar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }
  .category-newsletter-container{
    float: right;
    padding: 4px 0;
    span{
      &.cat-yellow{
        float: left;
        font-size: 14px;
        line-height: 41px;
      }
    }
    .form-group{
      position: relative;
      margin-bottom: 0;
      margin-left: 6px;
      .confirm-sub-message{
        position: absolute;
        top: -25px;
        font-size: 11px;
        line-height: inherit;
        color: #3fbb22;
      }
      .form-control{
        background-color: #E5E7EA;
        padding: 12px 0 12px 10px;
        color: #abb0b7;
        font-size: 14px;
        float: left;
        max-width: 300px;
        border-bottom: 0;
        min-height: 45px;
      }
      .newsletter-input{
        border: 0px;
        background-color: #eeeeee;
        width: 280px;
        color: #989493;
        outline: none;
        height: 50px;
        font-family: "josefin_sansregular";
        font-size: 17px;
        &::-webkit-input-placeholder { 
          color: #989493;
        }
        
        &:-ms-input-placeholder { 
          color: #989493;
        }
        
        &::placeholder {
          color: #989493;
        }
      }
      .btn{
            background: #ff4020;
            color: #fff;
            border: 0px;
            font-size: 20px;
            min-height: 50px;
            padding: 12px 14px 9px 14px;
            margin-left: 10px;
            font-family: "josefin_sansregular";
            line-height: 17px;
            cursor: pointer;
            &:focus{
              border:0px;
              outline:none;
            }
      }
    }
    .errorlist li{
      font-size: 11px;
      line-height: 41px;
    }
  }
}


.is-read-more{
  background: transparent;
  border:0px;
  color:#ff4020;
  display: flex;
  align-items: center;
  font-family: "josefin_sansregular";
  font-size: 25px;
  padding-left: 0px;
  outline: none;
  position: relative;
  cursor: pointer;
  padding: 0px;
  &:before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #ff4020;
  }
  img{
    margin-left: 10px;
  }
}
.is-comman-title{
  color: #000;
  padding: 30px 0px 10px 0px;
  font-weight: bold;
  font-size: 28px;
  width: 100%;
  text-align: center;
  font-family: "josefin_sanssemibold";
  position: relative;
  margin-bottom: 10px;
  &::before{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 60px;
    height: 1px;
    background: #000;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*card box*/
.custom-col-5{
  margin-bottom: 20px;
}
.is-cat-box-card-main{
  padding-bottom: 40px;
  background: #fff;
}
.cat-box {

  .row{
    margin: 0px;
  }
  .container{
    width: 1780px;
    margin: auto;
    padding: 0px 15px;
  }
  .is-card-arrow{
    width: 50px;
    height: 50px;
    background: #f64747;
    border-radius: 100%;
    display: -webkit-box;
    display: flex;
    position: absolute;
    right: -30px;
    transform: translate(-50%, -50%);
    top: 35%;
    a{
      margin: auto;
      color:#fff
    }
  }
  .item-card {
    overflow: hidden;
    width:100%;
    height: 100%;
    background: #fff;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 18px;
    a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      .item-card-content{
        padding: 20px;
        .item-card-category {
          h3{
            font-family: "Ubuntu", sans-serif;
            font-size: 12px;
            font-weight: bold;
            display: inline-block;
          }
        }

        .item-card-title{
          h4 {
            font-family: "josefin_sansregular";
            font-size: 18px;
            color: #000000;
            line-height: 26px;
            margin-top: 20px;
            font-weight: 600;
            word-break: break-all;
          }
        }
        .item-card-texte {
          p {
            font-family: "open_sansregular";
            font-size: 15px;
            font-weight: normal;
            color: #464444;
            line-height: 24px;
            padding-bottom: 30px;
            word-break: break-all;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          height: 100px;
          overflow: hidden;
          margin-bottom: 40px;
          }
          .category-article-readmore{
            position: absolute;
            left: 20px;
            bottom: 20px;
            width: calc(100% - 40px);
            display: flex;
            align-items: center;
            .is-read-more{
                color: #000;
                font-size: 18px;
                &:before{
                  background: #000;
                }
              }
            .article-icon-main{
              flex: 1;
              justify-content: flex-end;
              display: flex;
              .article-icon {
                width: 45px;
                height: 45px;
                background: #fff;
                display: flex;
                border-radius: 100%;
                i{
                  color:#000;
                  font-size: 25px;
                  margin: auto;
                }
              }
            }
        }
        }
        
        .avatar {
          width: 40px;
          height: 40px;
          color: transparent;
          border-radius: 100%;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          object-fit: cover;
        }
        
      }
      .item-card-image {
        height: 150px;
        position: relative;
        overflow: hidden;
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgb(0 0 0 / 0.5);
          position: absolute;
          top: 0;
          left: 0;
        }
        .is-category-title{
          position: absolute;
          bottom: 0px;
          left: 0px;
          background: #23d7d5;
          padding: 5px 5px;
          color: #fff;
          font-family: "open_sansregular";
          font-size: 14px;
          margin: 0px;
          line-height: 18px;
          z-index: 1;
        }
        .article-image-icon{
          width:50px;
          height: 50px;
          display: flex;
          border-radius: 100%;
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 1;
          i{
           margin: auto;
           font-size: 24px;
           color: #fff;
          }
        }
        .comment-right{
          position: absolute;
          right: 5px;
          bottom: 3px;
          .article-comment-info{
            .article-icon{
              position: relative;
              z-index: 1;
              .icon-circle{
               width:60px;
               height: 60px;
               background: #fff;
               display: flex;
               border-radius: 100%;
               img{
                margin: auto;
                max-width: 32px;
                height: auto;
                object-fit: unset;
               }
              }
      
            }
            .comment-section{
              flex:1;
              text-align: right;
              position: relative;
              z-index: 1;
              ul{
                margin: 0px;
                li{
                  display: inline-block;
                  padding-left: 5px;
                  a{
                    font-size: 12px;
                    color:#fff;
                    display: inline-block;
                    font-family: "open_sansregular";
                    img{
                      max-width: 19px;
                     height: auto;
                     object-fit: unset;
                    }
                    i{
                      font-size: 13px;
                      color:#fff;
                    }
                  }
                }
              }
            }
          }
        }

       img{
        width: 100%;
        height: 160px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        object-fit: cover;
       }
      }
    }
    &:hover .item-card-image:after {
      left: 0;
  }
  .item-card-category{
    .is-avatar-dv{
      .item-card-author {
        font-family: "josefin_sansregular";
        font-size: 15px;
        display: inline-block;
        color: #000;
        margin-left: 10px;
      }
    }
  
}
    }
  background: #fff;
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .cat-box-title{
      padding-left: 10px;
      padding-right: 10px;

      h2 {
        font-weight: bold;
        cursor: pointer;
        display: inline-block;

        a i {
            margin-left: 5px;
          }
      }

      span {
        display: inline-block;
        cursor: pointer;
        font-size: 12px;
        float: right;
        line-height: 27px;
      }
  }

  .article-row {
    padding-top: 10px;
    position: relative;
  }

  .col-sm-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }


}
.col-sm-15{
  width:20%;
  float: left;
  margin-bottom: 30px;
}


.cat-box .item-card a.cat-red .item-card-image:after{
  background-color: #f64747;
}



/*Pagination*/
.pagination{
    padding: 20px 0px;
      text-align: center;
      width:100%;
  .step-links{
    font-size: 16px;
    .current{

    }
    .page-btn{
      margin-left: 10px;
    }
  }
}
.is-pagination-link{
  display: flex;
  justify-content: center;
  align-items: center;
  li{
    list-style: none;
    display: inline-block;
    a{ 
      width:40px;
      height:40px;
      border-radius: 100%;
      display: inline-block;
      padding: 10px;
      font-size: 20px;
      line-height: 23px;
      font-family: 'josefin_sansregular';
      
      .fa{
        color: #ff4020;
        font-size: 24px;
      }
      &.current{
        background: #ff4020;
        color: #fff;
        font-size: 19px;
      
      }
      &.first{
        background: #ff4020;
        color: #fff;
        border-radius: 25px;
        width: 90px;
        height: auto;
        font-size: 19px;
      }
      &.last{
        background: #ff4020;
        color: #fff;
        border-radius: 25px;
        width: 90px;
        height: auto;
        font-size: 19px;
      }
    }
  }
}

.is-avatar-dv{
  display: flex;
  align-items: center;
.overlay-icon{
  position: relative;
  width:50px;
  .avatar {
    width: 50px !important;
    height: 50px !important;
    color: transparent;
    border-radius: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    object-fit: cover;
    border: 1px solid #eee;
  }
    .special-icon{
      position: absolute;
      top: -10px;
      right: -10px;
      width: 30px;
      height: 30px;
      background: #000;
      border: 1px solid #fff;
      display: flex;
      border-radius: 100%;
      img{
        max-width: 20px;
        margin: auto;
      }
    }

}
}
@media screen and (max-width:580px){
 
  .is-pagination-link{
    li{
      a{ 
        line-height: 28px;  
      }
    }
  }
  .cat-box{
  .container{
    padding: 0px;
  }

  

}
  .is-category-hero{ 
    margin-top: 50px;
  
 .is-category-hero{
  position: relative; 
  padding: 0px 0px 30px 30px;
  &:after{
    top: 30px;
    right: 30px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
   }
 }
    .is-hero-card{
      padding: 15px;
      .is-profile-main{
        .is-card-author-group{
          img{
            width:40px;
            height: 40px;
          }
          .is-card-author{
            font-size: 15px;
          }
          
        }
        .divider{
          display: none;
        }
        .is-card-btn{
          button{
            font-size: 15px;
          }
        }
      }
        .is-card-content{
          .is-small-title {
            font-size: 28px;
            color: #fff;
            line-height: 32px;
            span{
              padding-bottom: 0px;
            }
            div{
              line-height: 36px;
            }
          }
          .is-card-description{
            font-size: 16px;
          }
          .is-read-more{
            font-size: 18px;;
          }
          
        }
      
    
  }
}
.is-comman-title{
  font-size: 24px;
  margin-bottom: 0px;
}
.category-newsletter-container{
  .newsletter-input{
    width: 220px !important;
  }
}
  

.is-comman-title{
  font-size: 24px;
  margin-bottom: 0px;
}

  .is-cat-box-card-main{
    .cat-box{
      .container{
        width:100%;
        max-width:100%;
        .cat-box-gallery{
          .is-card-arrow{
            right: auto;
            bottom: -30px;
            top: auto;
            left: 50%;
          }
        .col-sm-15 {
          width: 100%;
          float: none;
          margin-bottom: 15px;
          padding: 0px;
          .item-card {
            min-height: 525px;
          }
        }
      }
      }
    }
  }

  .last{
    display: none !important;
  }
  .first{
    display: none !important;
  }
  .title-row{
    .right-btn-bar{
      margin-top: 30px;
      .category-newsletter-container{
        .form-group{
          .newsletter-input{
            width: 170px !important;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:360px){
  .title-row{
    .right-btn-bar{
      margin-top: 30px;
      .category-newsletter-container{
        .form-group{
          .newsletter-input{
            width: 140px !important;
            font-size: 13px;
          }
        }
      }
    }
  }

}

@media screen and (min-width:581px) and (max-width:767px){
  .title-row{
    .right-btn-bar{
      margin-top: 30px;
    }
  }
.is-comman-title{
  font-size: 28px;
  margin-bottom: 0px;
}

.is-cat-box-card-main{
  .cat-box{
    .container{
      width:100%;
      max-width:100%;
      .cat-box-gallery{
        .is-card-arrow{
          right: auto;
          bottom: -30px;
          top: auto;
          left: 50%;
        }
      .col-sm-15 {
        width: 50%;
        float: none;
        margin: 0px 0px 15px 0px;
        .item-card {
          min-height: 525px;
        }
      }
    }
    }
  }
}
}

@media screen and (min-width:768px) and (max-width:991px){
  .title-row{
    .right-btn-bar{
      margin-top: 30px;
    }
  }
.is-cat-box-card-main{
  .cat-box{
    .container{
      width:100%;
      max-width:100%;
      .cat-box-gallery{
        .is-card-arrow{
          right: auto;
          bottom: -30px;
          top: auto;
          left: 50%;
        }
      .col-sm-15 {
        width: 33.3333%;
        float: none;
        margin: 0px 0px 15px 0px;
        .item-card {
          min-height: 525px;
        }
      }
    }
    }
  }
}
}
@media screen and (min-width:992px) and (max-width:1200px){
  .title-row{
    .right-btn-bar{
      margin-top: 30px;
    }
  }
  .is-category-hero{ 
    padding-top: 50px;
    .is-hero-card{
      padding: 15px;
      .is-profile-main{
        .is-card-author-group{
          img{
            width:40px;
            height: 40px;
          }
          .is-card-author{
            font-size: 15px;
          }
          
        }
        .divider{
          display: none;
        }
        .is-card-btn{
          button{
            font-size: 15px;
          }
        }
      }
        .is-card-content{
          .is-small-title {
            font-size: 28px;
            color: #fff;
            line-height: 32px;
            span{
              padding-bottom: 0px;
              padding-top: 0px;
            }
            div{
              line-height: 36px;
            }
          }
          .is-card-description{
            font-size: 16px;
            line-height: normal;
          }
          .is-read-more{
            font-size: 18px;;
          }
          
        }
      
    
  }
}

  .is-cat-box-card-main{
    .cat-box{
      .container{
        width:100%;
        max-width:100%;
        .cat-box-gallery{
        .col-sm-15 {
          width: 25%;
          margin: 0px 0px 15px 0px;
          .item-card {
            min-height: 525px;
          }
        }
      }
      }
    }
  }
  
}
@media screen and (min-width:1400px){
  .custom-col-5{
    flex:0 0 20%;
    width:20%;
  }
}



@media screen and (min-width:1200px) and (max-width:1359px){
  .right-btn-bar{
    margin-top: 65px;
  }

}
