
/*Hero Section*/
.vertical-center{
	display:flex;
	align-items: center;
	.nav-wrap{
	  justify-content: flex-end;
	}
  }
  .is-read-more{
	background: transparent;
	border:0px;
	color:#ffff;
	display: flex;
	align-items: center;
	font-family: "josefin_sansregular";
	font-size: 18px;
	padding-left: 0px;
	outline: none;
	position: relative;
	cursor: pointer;
	padding: 0px;
	&:before{
	  content: '';
	  position: absolute;
	  bottom: 0px;
	  left: 0px;
	  width: 100%;
	  height: 1px;
	  background: #fff;
	}
	img{
	  margin-left: 10px;
	}
  }
  
  .is-more-btn{
	width:100%;
	padding-top: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	.is-see-more{
	  font-size: 18px;
	  background: #0c8040;
	  border: 0px;
	  color: #fff;
	  padding: 10px 35px 8px 35px;
	  cursor: pointer;
	  font-family: "josefin_sansregular";
	  border-radius: 55px;
	  line-height: 26px;
	  display: flex;
	  align-items: center;
	  outline: none;
	}
  }
  .is-comman-title{
	color: #000;
	padding: 30px 0px 10px 0px;
	font-weight: bold;
	font-size: 28px;
	width: 100%;
	text-align: center;
	font-family: "josefin_sanssemibold";
	position: relative;
	margin-bottom: 10px;
	&::before{
	  content: "";
	  position: absolute;
	  bottom: 0px;
	  width: 60px;
	  height: 1px;
	  background: #000;
	  margin: auto;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
  }
  
  
  

  .is-cat-box-card-main{
	background: #fff;
  }
  .cat-box {
	padding-bottom: 40px;
   
	.row{
	  margin: 0px;
	}
	.item-card {
	  width:100%;
	  height: 100%;
	  overflow: hidden;
	  background: #fff;
	  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.1);
	  position: relative;
	  a {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		.item-card-content{
		  padding: 20px;
		  .item-card-category {
			h3{
			  font-family: "Ubuntu", sans-serif;
			  font-size: 12px;
			  font-weight: bold;
			  display: inline-block;
			}
		  }
  
		  .item-card-title{
			h4 {
			  font-family: "josefin_sansregular";
			  font-size: 18px;
			  color: #000000;
			  line-height: 26px;
			  margin-top: 20px;
			  font-weight: 600;
			  word-break: break-all;
			}
		  }
		  .item-card-texte {
			  margin-top:15px;
			p {
			  font-family: "open_sansregular";
			  font-size: 15px;
			  font-weight: normal;
			  color: #464444;
			  line-height: 24px;
			  padding-bottom: 30px;
			  word-break: break-all;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			height: 100px;
			overflow: hidden;
			margin-bottom: 10px;
			}
			.is-read-more{
                color: #000;
                font-size: 18px;
                &:before{
                  background: #000;
                }
                i{
                    color:#000;
                    margin-left: 10px;
                }
              }
              .fund-detail-main{
                .fund-detail{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .fund-box{
                        flex: 1;
                        h3{
                            font-size: 15px;
                            color: #464444;
                            line-height: normal;
                            margin: 0px;
                            font-family: "open_sansregular";
                            span{
                                font-weight: 600;
                                color: #000;
                                img{
                                    margin-right: 6px;
                                    max-width: 20px;
                                }
                            }
                            
                        }
                        &:nth-child(2) h3{
                            text-align: right;
                        }
                    }
                }
            }
		  }
		  .is-avatar-dv{
			display: flex;
			align-items: center;
			.avatar {
			  width: 50px;
			  height: 50px;
			  color: transparent;
			  border-radius: 100%;
			  -webkit-transition: all 0.5s ease;
			  transition: all 0.5s ease;
			  object-fit: cover;
			  border: 1px solid #eee;
			}
	  }
		  
		  
        }
       
		.item-card-image {
		  height: 180px;
		  position: relative;
		  overflow: hidden;
		  &:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgb(0 0 0 / 0.5);
			position: absolute;
			top: 0;
			left: 0;
		  }
		 img{
		  width: 100%;
		  height: 180px;
		  -webkit-transition: all 0.5s ease;
		  transition: all 0.5s ease;
		  object-fit: cover;
		 }
		}
	  }
	.item-card-category{
	  .is-avatar-dv{
		.item-card-author {
			font-family: "josefin_sansregular";
			font-size: 17px;
			display: inline-block;
			color: #000;
			margin-left: 10px;
			font-weight: 600;
		}
	  }
	
  }
	  }
	background: #fff;
	.container-fluid {
	  padding-right: 15px;
	  padding-left: 15px;
	}
  
	.cat-box-title{
		padding-left: 10px;
		padding-right: 10px;
  
		h2 {
		  font-weight: bold;
		  cursor: pointer;
		  display: inline-block;
  
		  a i {
			  margin-left: 5px;
			}
		}
  
		span {
		  display: inline-block;
		  cursor: pointer;
		  font-size: 12px;
		  float: right;
		  line-height: 27px;
		}
	}
  
	.article-row {
	  padding-top: 10px;
	  position: relative;
	}
  

  
  
  }

  .bg-light{
	background: #f7f7f7 !important;
  }
 .col-lg-3{
     margin-bottom: 30px;
 } 
	
 .box-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  @media screen and (min-width: 1500px) {
    .container {
      width: 1520px;
      max-width: 100%;
      margin: auto;
    }
  }

	@media screen and (max-width:580px){


	.is-comman-title{
	  font-size: 24px;
	  margin-bottom: 0px;
        margin-top:20px;
	}

	  .is-cat-box-card-main{
		.cat-box{
		  padding:0px;
		  .container{
			width:100%;
			max-width:100%;
			.cat-box-gallery{
			  .is-card-arrow{
				right: auto;
				bottom: -30px;
				top: auto;
				left: 50%;
			  }
			
		  }
		  }
		}
	  }

  
	}



  
	@media screen and (min-width:581px) and (max-width:768px){
	
	.is-comman-title{
	  margin-top:20px;
	}

	.is-cat-box-card-main{
	  .cat-box{
		.container{
		  width:100%;
		  max-width:100%;
		  .cat-box-gallery{
			.is-card-arrow{
			  right: auto;
			  bottom: -30px;
			  top: auto;
			  left: 50%;
			}
		 
		}
		}
	  }
	}
	}
  
	@media screen and (min-width:769px) and (max-width:991px){
		.is-comman-title{
			margin-bottom: 0px;
			margin-top:20px;
		  }
	
	.is-cat-box-card-main{
	  .cat-box{
		.container{
		  width:100%;
		  max-width:100%;
		  .cat-box-gallery{
			.is-card-arrow{
			  right: auto;
			  bottom: -30px;
			  top: auto;
			  left: 50%;
			}
		 
		}
		}
	  }
	}
	}
	@media screen and (min-width:992px) and (max-width:1200px){
	
	.is-cat-box-card-main{
	  .cat-box{
		.container{
		  width:100%;
		  max-width:100%;
		 
		}
	  }
	}
	.is-card-content{
	  .is-small-title {
		font-size: 28px !important;
		color: #fff;
		line-height: 32px !important;
		span{
		  padding-bottom: 0px;
		}
		div{
		  line-height: 36px;
		}
	  }
	  .is-card-description{
		font-size: 16px;
	  }
	  .is-read-more{
		font-size: 18px;
	  }
	  
	}
	}

    @media (min-width: 1200px){
		section{
		  .container {
			width: 1140px;
			max-width: 100%;
		}
		}
		}