
/*Hero Section*/
.vertical-center{
    display:flex;
    align-items: center;
    .nav-wrap{
      justify-content: flex-end;
    }
  }
  .is-read-more{
    background: transparent;
    border:0px;
    color:#ffff;
    display: flex;
    align-items: center;
    font-family: "josefin_sansregular";
    font-size: 18px;
    padding-left: 0px;
    outline: none;
    position: relative;
    cursor: pointer;
    padding: 0px;
    &:before{
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 1px;
      background: #fff;
    }
    img{
      margin-left: 10px;
    }
  }
 
  .is-more-btn{
    width:100%;
    padding-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    .is-see-more{
      font-size: 18px;
      background: #f64747;
      border: 0px;
      color: #fff;
      padding: 10px 25px 8px 25px;
      cursor: pointer;
      font-family: "josefin_sansregular";
      border-radius: 55px;
      line-height: 26px;
      display: flex;
      align-items: center;
      outline: none;
    }
  }
  .is-comman-title{
    color: #000;
    padding: 30px 0px 10px 0px;
    font-weight: bold;
    font-size: 28px;
    width: 100%;
    text-align: center;
    font-family: "josefin_sanssemibold";
    position: relative;
    margin-bottom: 10px;
    &::before{
      content: "";
      position: absolute;
      bottom: 0px;
      width: 60px;
      height: 1px;
      background: #000;
      margin: auto;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  .box-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  
 
  /*new*/
  .is-cat-box-card-main{
    padding-bottom: 40px;
    background: #fff;
  }
  .cat-box {
    .row{
      margin: 0px;
    }
    .container{
      width: 1780px;
      margin: auto;
      padding: 0px 15px;
    }
    .is-card-arrow{
      width: 50px;
      height: 50px;
      background: #f64747;
      border-radius: 100%;
      display: -webkit-box;
      display: flex;
      position: absolute;
      right: -30px;
      transform: translate(-50%, -50%);
      top: 35%;
      a{
        margin: auto;
        color:#fff
      }
    }
    .item-card {
      width:100%;
      height: 100%;
      overflow: hidden;
      background: #fff;
      box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.1);
      position: relative;
      a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        .item-card-content{
          padding: 20px;
          .item-card-category {
            h3{
              font-family: "Ubuntu", sans-serif;
              font-size: 12px;
              font-weight: bold;
              display: inline-block;
            }
          }
  
          .item-card-title{
            h4 {
              font-family: "josefin_sansregular";
              font-size: 18px;
              color: #000000;
              line-height: 26px;
              margin-top: 20px;
              font-weight: 600;
              word-break: break-all;
            }
          }
          .item-card-texte {
            p {
              font-family: "open_sansregular";
              font-size: 15px;
              font-weight: normal;
              color: #464444;
              line-height: 24px;
              padding-bottom: 30px;
            }
            .is-read-more{
              color: #000;
              font-size: 18px;
              position: absolute;
              left: 20px;
              bottom: 20px;
              &:before{
                background: #000;
              }
            }
          }
          
          .avatar {
            width: 40px;
            height: 40px;
            color: transparent;
            border-radius: 100%;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            object-fit: cover;
          }
          
        }
        .item-card-image {
          max-height: 150px;
          position: relative;
          overflow: hidden;
          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: #ff4020;
            position: absolute;
            top: 0;
            left: -100%;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }
          .is-category-title{
            position: absolute;
            bottom: 0px;
            left: 0px;
            background: #23d7d5;
            padding: 5px 10px;
            color: #fff;
            font-family: "open_sansregular";
            font-size: 15px;
            margin: 0px;
            line-height: 18px;
          }
  
  
         img{
          width: 100%;
          height: 160px;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          object-fit: cover;
         }
        }
      }
    //   &:hover .item-card-image:after {
    //     left: 0;
    // }
    .item-card-category{
      .is-avatar-dv{
        .item-card-author {
          font-family: "josefin_sansregular";
          font-size: 15px;
          display: inline-block;
          color: #000;
          margin-left: 10px;
        }
      }
    
  }
      }
    background: #fff;
    .container-fluid {
      padding-right: 15px;
      padding-left: 15px;
    }
  
    .cat-box-title{
        padding-left: 10px;
        padding-right: 10px;
  
        h2 {
          font-weight: bold;
          cursor: pointer;
          display: inline-block;
  
          a i {
              margin-left: 5px;
            }
        }
  
        span {
          display: inline-block;
          cursor: pointer;
          font-size: 12px;
          float: right;
          line-height: 27px;
        }
    }
  
    .article-row {
      padding-top: 10px;
      position: relative;
    }
  
    .col-sm-15 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
    }
  
  
  }
  .col-sm-15{
    width:20%;
    float: left;
    margin-bottom: 20px;
  }
  


    @media screen and (max-width:580px){

  
    .is-comman-title{
      font-size: 24px;
      margin-bottom: 0px;
    }
  
   
      .is-cat-box-card-main{
        .cat-box{
          .container{
            width:100%;
            max-width:100%;
            .cat-box-gallery{
              .is-card-arrow{
                right: auto;
                bottom: -30px;
                top: auto;
                left: 50%;
              }
            .col-sm-15 {
              width: 100%;
              float: none;
              margin-bottom: 15px;
              padding: 0px;
              .item-card {
                min-height: 525px;
              }
            }
          }
          }
        }
      }
  
  
  
    }
  
    @media screen and (min-width:581px) and (max-width:768px){ 
    .is-comman-title{
      font-size: 28px;
      margin-bottom: 0px;
    }
    
    .is-cat-box-card-main{
      .cat-box{
        .container{
          width:100%;
          max-width:100%;
          .cat-box-gallery{
            .is-card-arrow{
              right: auto;
              bottom: -30px;
              top: auto;
              left: 50%;
            }
          .col-sm-15 {
            width: 50%;
            float: none;
            margin: 0px 0px 15px 0px;
            .item-card {
              min-height: 525px;
            }
          }
        }
        }
      }
    }
    }
  
    @media screen and (min-width:769px) and (max-width:991px){
     
    .is-cat-box-card-main{
      .cat-box{
        .container{
          width:100%;
          max-width:100%;
          .cat-box-gallery{
            .is-card-arrow{
              right: auto;
              bottom: -30px;
              top: auto;
              left: 50%;
            }
          .col-sm-15 {
            width: 33.3333%;
            float: none;
            margin: 0px 0px 15px 0px;
            .item-card {
              min-height: 525px;
            }
          }
        }
        }
      }
    }
    }
    @media screen and (min-width:992px) and (max-width:1200px){
     
    .is-cat-box-card-main{
      .cat-box{
        .container{
          width:100%;
          max-width:100%;
          .cat-box-gallery{
          .col-sm-15 {
            width: 25%;
            margin: 0px 0px 15px 0px;
            .item-card {
              min-height: 525px;
            }
          }
        }
        }
      }
    }
    .is-card-content{
      .is-small-title {
        font-size: 28px !important;
        color: #fff;
        line-height: 32px !important;
        span{
          padding-bottom: 0px;
        }
        div{
          line-height: 36px;
        }
      }
      .is-card-description{
        font-size: 16px;
      }
      .is-read-more{
        font-size: 18px;
      }
      
    }
    }
  
    @media screen and (min-width:992px) and (max-width:1350px){
      .col-sm-15{
        width:25%;
        margin-bottom: 20px;
      }
    }

  