.page-title {
	color: #000;
  padding: 30px 0px 10px 0px;
  font-weight: bold;
  font-size: 28px;
  width: 100%;
  text-align: center;
  font-family: "josefin_sanssemibold";
  position: relative;
  margin-bottom: 10px;
  margin-top:20px;
	&:after {
		content: "";
    position: absolute;
    bottom: 0px;
    width: 60px;
    height: 1px;
    background: #000;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
	}
}



.buy-sec{
    padding-bottom: 40px;
    .buy-main{
        box-shadow: 0px 0px 5px 7px rgba(0,0,0,0.02);
        border:1px solid #fcfcfc;
        max-width: 600px;
        margin: 20px auto 0px auto;
        .buy-header-img{
            position: relative;
            img{
                max-width: 100%;
            }
            .monthly-price{
                position: absolute;
                top: 0px;
                right: 0px;
                background: #23d7d5;
                padding: 8px 10px;
                color: #fff;
                font-family: "open_sansregular";
                font-size: 15px;
                margin: 0px;
                line-height: 18px;
            }
        }
        .buy-content{
            text-align: center;
            padding: 50px;
            .buy-input{
                label{
                    display: block;
                    font-family: "josefin_sansregular";
                    font-size: 22px;
                    color: #000;
                }
                input{
                    background: #f6f7fa;
                    border:0px;
                    padding: 8px 10px;
                    font-family: "josefin_sanslight";
                    color: #000;
                    font-size: 17px;
                    width: 300px;
                    max-width: 100%;
                    outline: none;
                    border: 1px solid #eee;
                    &::-webkit-input-placeholder {
                        color: #7b7d84;
                      }
                      
                      &:-ms-input-placeholder {
                        color: #7b7d84;
                      }
                      
                      &::placeholder {
                        color: #7b7d84;
                      }
                }
            }
            .price{
                font-family: "josefin_sansregular";
                font-size: 50px;
                color: #000;
                margin: 20px 0px;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 50px;
                    background: #23d7d5;
                    height: 2px;
                }
            }
            .buy-btn-main{
                .buy-btn{
                    padding: 13px 35px;
                    background: #23d7d5;
                    color: #fff;
                    display: inline-block;
                    font-family: "josefin_sansregular";
                    font-size: 22px;
                    border-radius: 30px;
                    line-height: 22px;
                    border:0px;
                }
            }
        }
    }   
}
.text-black{
    color:#000 !important;
}
@media screen and (max-width:580px){
    .page-title{
        font-size: 20px;
        margin-bottom: 30px;
    }

    
.buy-sec{
    .buy-main{
        .buy-content{
            padding: 20px;
            .buy-input{
                label{
                    font-size: 18px;
                }
            }
            .price{
                font-size: 40px;
                
            }
        }
    }   
}
}