<div class="container-fluid p-h-0 p-v-20 h-100 bg">
    <div class="d-flex flex-column justify-content-between h-100">
        <div class="d-none d-md-block"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-7 m-h-auto">
                    <nz-card class="m-b-60 shadow-lg">
                        <div class="d-flex flex-wrap align-items-center justify-content-between m-b-30">
                            <img class="img-fluid" alt="" src="assets/images/logo/logo.png" style="margin-left:-20px">
                            <h2 class="m-b-0">{{'loginProfileTitle' | translate}}</h2>
                        </div>
                        <div class="media align-items-center media-responsive">
                            <nz-avatar [nzSize]="80" nzIcon="user" [nzSrc]="avatarUrl" accept="image/*"></nz-avatar>
                            <div class="m-l-20 m-r-20">
                                <h5 class="m-b-5 font-size-18">{{'loginProfileSetAvtar' | translate}}</h5>
                                <p class="opacity-07 font-size-13 m-b-0">
                                    {{'loginProfileAvtarDimension' | translate}} <br>
                                    {{'loginProfileAvtarSize' | translate}}
                                </p>
                            </div>
                            <nz-upload nzName="avatar" [nzShowUploadList]="false" (nzChange)="handleChange($event)">
                                <button nz-button nzType="primary" nzGhost [nzLoading]="isPhotoChangeLoading">
                                    <span>{{'loginProfileUpload' | translate}}</span>
                                </button>
                            </nz-upload>
                        </div>
                        <form nz-form [formGroup]="profileForm" class="login-form" (ngSubmit)="submitForm()">
                            <hr class="m-v-25">
                            <div class="row">
                                <div class="col-md-6">
                                    <nz-form-item>

                                        <nz-form-label>{{'LoginProfilePhone' | translate}}</nz-form-label>
                                        <nz-form-control
                                            nzErrorTip="{{'LoginProfilePhone' | translate}} {{'required' | translate}}">
                                            <input nz-input placeholder="{{'LoginProfilePhone' | translate}}"
                                                formControlName="phone" mask="(000) 000-0000" [showMaskTyped]="true">
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div class="col-md-6">
                                    <nz-form-item>
                                        <nz-form-label>{{'loginProfileDOB' | translate}}</nz-form-label>
                                        <nz-form-control
                                            nzErrorTip="{{'loginProfileDOB' | translate}} {{'required' | translate}}">
                                            <nz-date-picker class="w-100" nzFormat="yyyy/MM/dd" formControlName="birth"
                                                nzPlaceHolder="{{'loginProfileDOB' | translate}}"></nz-date-picker>
                                        </nz-form-control>
                                    </nz-form-item>

                                </div>

                                <div class="col-md-6">
                                    <nz-form-item>
                                        <nz-form-label>{{'lang' | translate}}</nz-form-label>
                                        <nz-form-control nzErrorTip="{{'langErr' | translate}}" class="m-5">
                                            <nz-select class="m-r-10" formControlName="lang" nzAllowClear
                                                nzPlaceHolder="{{'lang' | translate}}">
                                                <!-- (ngModelChange)="languageSelected($event)" -->
                                                <nz-option *ngFor="let language of languageList"
                                                    [nzValue]="language.code" nzLabel="{{language.label}}">
                                                </nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>

                                <div class="col-md-6">
                                    <nz-form-item>
                                        <nz-form-label>{{'LinkSocialAccounts' | translate}}</nz-form-label>
                                        <div class="account-div">
                                            <img src="./assets/images/company-logo/facebook.png">
                                            Facebook
                                            <button type="button" *ngIf="!fbAccountLinkStatus" class="m-l-10" nz-button nzSize="small" nzType="default" [nzLoading]="fbloading" (click)="linkFacebook()">
                                                {{ "Link" | translate }}
                                            </button>
                                            <button type="button" *ngIf="fbAccountLinkStatus" class="m-l-10" nz-button nzSize="small" nzType="default" [nzLoading]="fbloading" (click)="unlinkFacebook()">
                                                {{ "Unlink" | translate }}
                                            </button>
                                        </div>
                                    </nz-form-item>
                                </div>

                                <div class="col-md-12">
                                    <nz-form-item>
                                        <nz-form-label>{{'loginProfileBio' | translate}}</nz-form-label>
                                        <nz-form-control>
                                            <textarea rows="4" nz-input name="content"
                                                formControlName="biography"></textarea>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <!-- </nz-card>  -->
                            <br />
                            <div class="d-flex align-items-center justify-content-between">
                                <nz-form-item style="display: none;">
                                    <nz-form-control>
                                        <label nz-checkbox formControlName="later">
                                            <span><a>{{'doItLater' | translate}}</a></span>
                                        </label>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-control>
                                        <div>
                                            <button nz-button class="login-form-button" [nzType]="'primary'"
                                                [nzLoading]="isFormSaving">{{'loginProfileNext' | translate}}</button>
                                        </div>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </form>
                    </nz-card>
                </div>
            </div>
        </div>
        <div class="d-none d-md-flex p-h-40 justify-content-between">
            <span class="">© 2020 My Trending Stories</span>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="text-dark text-link" routerLink="/terms">Terms</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-dark text-link" routerLink="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>