<div class="mainmenu">
    <nz-layout class="layout">
        <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
            <ul nz-menu [nzMode]="'horizontal'" nzTheme="dark">
                <ng-container *ngFor="let item of (categories)">
                    <li nz-menu-item [routerLink]="['/category', item.slug]" [ngClass]="item.slug">
                        {{item.title}}</li>

                </ng-container>

               

                <!-- <li nz-menu-item [routerLink]="['/category']">Business</li>
        <li nz-menu-item [routerLink]="['/category']">News</li>
        <li nz-menu-item [routerLink]="['/category']">Sport</li>
        <li nz-menu-item [routerLink]="['/category']">Religion</li>
        <li nz-menu-item [routerLink]="['/category']">Creative</li>
        <li nz-menu-item [routerLink]="['/category']">Opinion</li>
        <li nz-menu-item [routerLink]="['/category']">Tech and science</li>
        <li nz-menu-item [routerLink]="['/category']">Viral</li>
        <li nz-menu-item [routerLink]="['/category']">Entertainment</li> -->

                <!-- <li nz-menu-item class="is-search-icon">
            <a (click)="searchToggle()">
                <i nz-icon nzType="search" theme="outline"></i>
            </a>
            <nz-drawer [nzWidth]="380" nzTitle="Search" [nzVisible]="searchVisible" nzPlacement="right" (nzOnClose)="searchToggle()">
                <app-search></app-search>
            </nz-drawer>
        </li> -->
                <li nz-menu-item class="megamenu-list" id="mega-menu-header" (mouseenter)="showMegaMenu()"
                    (mouseleave)="hideMegaMenu()">
                    <a class="megamenu-link">{{'More' | translate}} <i nz-icon nzType="down" nzTheme="outline"></i></a>
                    <div class="mega-body-sec" id="mega-menu-section">
                        <div class="megamenu-body">
                            <div class="sub-catagories-sec">
                                <ng-container *ngFor="let item of (categories)">
                                    <div class="sub-catagories-list" [ngClass]="item.slug">
                                        <h2>{{item.title}}</h2>
                                        <ul>
                                            <li (click)="hideMegaMenu()"
                                                *ngFor="let topic of (categoryListData[item.uid].child | async )"
                                                nz-menu-item [routerLink]="['/category', item.slug]"
                                                [queryParams]="{topic:topic.slug}" class="mega-menu-list-item">
                                                {{topic.title}}
                                            </li>
                                        </ul>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nz-sider>
    </nz-layout>
</div>