<div class="special-icon" *ngIf="article?.author?.type==='company'">
    <img src="assets/images/company-icon.png" style="max-width: 16px;"/>
</div>
<div class="special-icon" *ngIf="article?.author?.type==='charity'">
    <img src="assets/images/charity-icon.png" />
</div>