<section class="is-article-block">
    <div class="container">
        <div class="article-full-img">
            <img src="assets/images/video/video-banner.jpg" alt="Video banner" />
        </div>
        <div class="is-article-sec">
            <div class="is-left-profile">
                <div class="sticky-box">
                    <div class="is-profile">
                        <a>
                            <img class="avatar" src=""alt=""
                                onerror="this.src='assets/images/default-avatar.png'"
                                 />
                        </a>
                    </div>
                    <div class="is-author-name-sec is-divider">
                        <span class="is-author-name">
                            <a>
                                <span class="name">James William</span>
                            </a>
                            <a class="follow-btn">
                                <img src="assets/images/article/icon/follow.png"  alt=""/>
                                Follow Author
                            </a>
                            
                        </span>
                    </div>
                    <div class="is-like-sec is-divider">
                        <a class="is-like">
                            <i class="far fa-thumbs-up"></i>
                            {{'like' | translate}} <span class="like-count">10</span>
                        </a>
                        <a class="is-like"><span class="likes-count"><i class="fas fa-eye"></i>20</span></a>
                    </div>
                    <div class="left-media is-divider">
                        <h3>{{'shareArticle' | translate}}</h3>
                        <div class="addthis_inline_share_toolbox"></div>
                    </div>
                </div>
            </div>
            <div class="is-main-article-content">
                <div class="is-content">
                    <div class="is-head">
                        <h1>
                            <a>
                                <span itemprop="headline">
                                    Top 10 Best Mobile App Development Tools for 2020
                                </span>
                            </a>
                        </h1>
                        <div class="is-small-profile">
                            <div class="is-image">
                                <a>
                                    <img class="avatar" alt=""
                                        src="" 
                                        onerror="this.src='assets/images/default-avatar.png'" />
                                    <span class="name">
                                        James William</span>
                                </a>
                            </div>
                            <div class="is-date">
                                Jul 20, 2020, 9:00:41 PM 
                                <a class="category cat-purple">
                                    Entertainment 
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="is-body">
                        <div class="main-audio-sec">
                            <video id="my_video_1" class="video-js vjs-default-skin"  controls preload="none"
                                poster='assets/images/video/video-banner.jpg'
                                data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                                <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                                <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
                            </video>
                            <div class="video-control">
                                <ul>
                                    <li>
                                        <a>
                                            <img src="assets/images/video/icon/like.png"  alt="" />
                                            10M
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img src="assets/images/video/icon/comment.png" alt="">
                                            10K
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img src="assets/images/video/icon/watch-later.png" alt="">
                                            Watch Later
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img src="assets/images/video/icon/point.png" alt="" class="bullet">
                                            1 day ago
                                        </a>
                                    </li>
                                </ul>
                                <div class="btn-download">
                                    <button class="video-download-btn"><img src="assets/images/video/icon/download.png" alt=""> Download</button>
                                </div>
                            </div>
                        </div>
                        <div class="user-comment-sec">
                            <div class="comment-header">
                                <ul>
                                    <li><span>500</span>Comments</li>
                                    <li class="pointer"><span class="fas fa-sort-amount-down-alt"></span>Sort By</li>
                                </ul>
                            </div>
                            <div class="user-comment-body">
                                <div class="user-comment">
                                    <div class="user-avatar"><img src="assets/images/video/icon/user.png"  alt=""/></div>
                                    <div class="user-comment-detail">
                                       <div>
                                           <h2>James William<span>2 hour ago</span></h2>
                                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                           <ul>
                                               <li>
                                                   <a>
                                                  <img src="assets/images/video/icon/like.png"  alt="" />
                                                  10M
                                                  </a>
                                               </li>
                                               <li>
                                                   <a>reply</a>
                                               </li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                                <div class="user-comment">
                                    <div class="user-avatar"><img src="assets/images/video/icon/user.png" /></div>
                                    <div class="user-comment-detail">
                                       <div>
                                           <h2>James William<span>2 hour ago</span></h2>
                                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                           <ul>
                                               <li>
                                                   <a>
                                                  <img src="assets/images/video/icon/like.png"  alt=""/>
                                                  10M
                                                  </a>
                                               </li>
                                               <li>
                                                   <a>reply</a>
                                               </li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                                <div class="user-comment">
                                    <div class="user-avatar"><img src="assets/images/video/icon/user.png" /></div>
                                    <div class="user-comment-detail">
                                       <div>
                                           <h2>James William<span>2 hour ago</span></h2>
                                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                           <ul>
                                               <li>
                                                   <a>
                                                  <img src="assets/images/video/icon/like.png"  alt=""/>
                                                  10M
                                                  </a>
                                               </li>
                                               <li>
                                                   <a>reply</a>
                                               </li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                                <div class="user-comment">
                                    <div class="user-avatar"><img src="assets/images/video/icon/user.png"  alt=""/></div>
                                    <div class="user-comment-detail">
                                       <div>
                                           <h2>James William<span>2 hour ago</span></h2>
                                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                           <ul>
                                               <li>
                                                   <a>
                                                  <img src="assets/images/video/icon/like.png"  alt="" />
                                                  10M
                                                  </a>
                                               </li>
                                               <li>
                                                   <a>reply</a>
                                               </li>
                                           </ul>
                                       </div>
                                    </div>
                                </div>
                                 <div class="user-comment">
                                     <div class="user-avatar"><img src="assets/images/video/icon/user.png"  alt=""/></div>
                                     <div class="user-comment-detail">
                                        <div>
                                            <h2>James William<span>2 hour ago</span></h2>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                            <ul>
                                                <li>
                                                    <a>
                                                   <img src="assets/images/video/icon/like.png"  alt=""/>
                                                   10M
                                                   </a>
                                                </li>
                                                <li>
                                                    <a>reply</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="user-comment inner-comment">
                                            <div class="user-avatar"><img src="assets/images/video/icon/user.png" alt="" /></div>
                                            <div class="user-comment-detail">
                                               <div>
                                                   <h2>James William<span>2 hour ago</span></h2>
                                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                                                   <ul>
                                                       <li>
                                                           <a>
                                                          <img src="assets/images/video/icon/like.png"  alt=""/>
                                                          10M
                                                          </a>
                                                       </li>
                                                       <li>
                                                           <a>reply</a>
                                                       </li>
                                                   </ul>
                                               </div>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
            <div class="is-right-ad-section">
                <div class="ads-box">
                    Ads Section
                </div>
                <div class="related-audio-sec">
                    <h2>Similar Audio</h2>
                    <div class="related-audio">
                        <div class="thumbnail-audio">
                            <img src="assets/images/video/thumbnail-video.jpg" alt="" />
                        </div>
                        <div class="related-audio-detail">
                            <h2>How music can boost my mind</h2>
                            <p>Today you will find a large number of frameworks available which can be used for the development </p>
                            <ul>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/play-count.png" alt="">
                                        60K
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/like.png" alt="">
                                        50K
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/repost.png" alt="">
                                        repost
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/comment.png" alt="">
                                        10K
                                    </a>
                                </li>
                            </ul>
                        </div><div class="clearfix"></div>
                    </div>
                    <div class="related-audio">
                        <div class="thumbnail-audio">
                            <img src="assets/images/video/thumbnail-video.jpg" alt="" />
                        </div>
                        <div class="related-audio-detail">
                            <h2>How music can boost my mind</h2>
                            <p>Today you will find a large number of frameworks available which can be used for the development </p>
                            <ul>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/play-count.png" alt="">
                                        60K
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/like.png" alt="">
                                        50K
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/repost.png" alt="">
                                        repost
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/comment.png" alt="">
                                        10K
                                    </a>
                                </li>
                            </ul>
                        </div><div class="clearfix"></div>
                    </div>
                    <div class="related-audio">
                        <div class="thumbnail-audio">
                            <img src="assets/images/video/thumbnail-video.jpg" alt="" />
                        </div>
                        <div class="related-audio-detail">
                            <h2>How music can boost my mind</h2>
                            <p>Today you will find a large number of frameworks available which can be used for the development </p>
                            <ul>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/play-count.png" alt="">
                                        60K
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/like.png" alt="">
                                        50K
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/repost.png" alt="">
                                        repost
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/comment.png" alt="">
                                        10K
                                    </a>
                                </li>
                            </ul>
                        </div><div class="clearfix"></div>
                    </div>
                    <div class="related-audio">
                        <div class="thumbnail-audio">
                            <img src="assets/images/video/thumbnail-video.jpg" alt="" />
                        </div>
                        <div class="related-audio-detail">
                            <h2>How music can boost my mind</h2>
                            <p>Today you will find a large number of frameworks available which can be used for the development </p>
                            <ul>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/play-count.png" alt="">
                                        60K
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/like.png" alt="">
                                        50K
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/repost.png" alt="">
                                        repost
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <img src="assets/images/video/icon/comment.png" alt="">
                                        10K
                                    </a>
                                </li>
                            </ul>
                        </div><div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
