img{
    max-width: 100%;
  }
  .article-full-img {
    position: relative;
  }
  hr{
      border-top: 1px solid #eee;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .article-full-img::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .article-full-img img {
    width: 100%;
    height: 550px;
    object-fit: cover;
  }
  .is-article-block {
    background: #fff;
    .is-article-sec {
      display: flex;
      flex-wrap: wrap;
      .sticky-box {
        position: sticky;
        top: 70px;
        background-color: #fff;
        padding: 20px;
      }
      .is-left-profile {
        width: calc(100% - (750px + 25%));
        .is-profile {
          text-align: center;
          a {
            display: inline-block;
            img {
              width: 140px;
              height: 140px;
              border-radius: 100%;
              margin: auto;
              object-fit: cover;
            }
          }
        }
        .is-author-name-sec {
          text-align: center;
          .is-author-name {
            a {
              display: block;
              font-family: "josefin_sanssemibold";
              .name {
                display: inline-block;
                font-size: 24px;
                color: #fd6147;
                padding-top: 15px;
              }
              &.follow-btn {
                color: #042c99;
                font-size: 20px;
                img {
                  max-width: 16px;
                  vertical-align: text-top;
                }
              }
            }
          }
        }
        .is-like-sec {
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            font-size: 20px;
            color: #042c99;
            font-family: "josefin_sanssemibold";
            margin: 0px 4px;
            &.is-like {
              min-width: 85px;
              .far {
                font-size: 17px;
              }
              .likes-count{
                .fas{
                  font-size: 19px;
                  margin: 0px 10px 0px 10px;
                }
              }
            }
            img {
              max-width: 16px;
              margin-right: 7px;
              vertical-align: text-top;
            }
          }
        }
        .left-media {
          text-align: center;
          h3 {
            color: #fd6147;
            font-size: 22px;
            font-family: "josefin_sanssemibold";
            text-align: center;
            text-transform: capitalize;
          }
          .at-label {
            display: none;
          }
        }
      }
      .is-divider {
        position: relative;
        padding-bottom: 7px;
        margin-bottom: 10px;
        &:before {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 80px;
          height: 1px;
          background: #e3e3e3;
        }
      }
      .is-main-article-content {
        width: 750px;
        padding: 30px;
        margin-top: -110px;
        z-index: 1;
        background: #fff;
        .is-head {
          h1 {
            a {
              span {
                font-family: "josefin_sanssemibold";
                text-align: center;
                display: block;
                font-size: 28px;
                color: #000;
                line-height: 35px;
              }
            }
          }
          .is-small-profile {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            flex-wrap: wrap;
            max-width: 100%;
            margin: 20px auto 20px auto;
            .is-image {
              flex: 1;
              a {
                img {
                  width: 40px;
                  height: 40px;
                  border-radius: 100%;
                  object-fit: cover;
                }
                .name {
                  font-family: "josefin_sansregular";
                  font-size: 15px;
                  display: inline-block;
                  color: #000;
                  margin-left: 10px;
                }
              }
            }
            .is-date {
              flex: 1;
              text-align: right;
              font-family: "josefin_sansitalic";
  
              a {
                font-family: "josefin_sanssemibold";
                color: #fd6147 !important;
              }
            }
          }
        }
        .is-body {
          .is-paragraph {
            p {
              font-family: "open_sansregular";
              font-size: 15px;
              font-weight: normal;
              color: #464444;
              line-height: 33px;
              margin-bottom: 0px;
              &.big::first-letter {
                font-size: 100px;
                color: #fd6147;
              }
              h3{
                margin: 0px;
              }
              h2{
                margin: 0px;
                color: #000;
                font-family: "josefin_sanssemibold";
                font-size: 22px;
                margin-top: 30px;
                display: block;
              }
              strong {
                color: #000;
                font-family: "josefin_sanssemibold";
                font-size: 22px;
                margin-top: 30px;
                display: block;
              }
              &.para-bg {
                background: #f5f5f5;
                padding: 20px;
                border-top: 2px solid #fd6147;
              }
            }
          }
          .main-audio-sec{
            video{
              width:100%;
              height: 267px;
            }
            .video-control{
              padding-bottom: 10px;
              border-bottom: 1px solid #ccc;
              margin-bottom: 10px;
              display: flex;
              align-items: center;
              .btn-download{
                flex: 1;
                text-align: right;
                .video-download-btn{
                  background: #cccccc;
                  color: rgb(10, 7, 7);
                  padding: 8px 10px;
                  display: inline-flex;
                  align-items: center;
                  border: 0px;
                  font-family: "open_sansregular";
                  img{
                    max-width:16px;
                    margin-right: 10px;
                  }
                }
              }
              ul{
                margin: 0px;
                padding:2px 0px 0px 0px;
                li{
                  display: inline-block;
                  font-size: 16px;
                  color: #514c4c;
                  padding-right: 15px;
                  font-family: "open_sansregular";
                  a{
                    color: #514c4c;
                      img{
                        max-width: 20px;
                        &.bullet{
                          max-width: 7px;
                        }
                      }
                  }
                }
              }
            }
          }
          .user-comment-sec{
            .comment-header{
              ul{
                li{
                  display: inline-block;
                  list-style: none;
                  font-size: 18px;
                  color: #000;
                  font-family: "josefin_sansregular";
                  margin-right: 25px;
                  span{
                    margin-right: 10px;
                  }
                  &.pointer{
                    cursor: pointer;
                  }
                }
              }
            }
            .user-comment{
              background: #f5f5f5;
              padding: 10px;
              display: flex;
              flex-wrap: wrap;
              margin-bottom: 10px;
              .user-avatar{
                width: 50px;
                padding-right: 10px;
                img{
                  width: 40px;
                  height: 40px;
                  object-fit: cover;
                }
              }
              .user-comment-detail{
                h2{
                  font-family: "josefin_sansregular";
                  margin: 0px;
                  font-size: 18px;
                  color: #000;
                  span{
                    display: inline-block;
                    padding-left: 10px;
                    font-size: 15px;
                    color: #757576;
                    font-family: "open_sansregular";
                  }
                }
                p{
                  font-family: "open_sansregular";
                  font-size: 15px;
                  font-weight: normal;
                  color: #464444;
                  line-height: 22px;
                  margin-bottom: 0px;
                }
                ul{
                  margin: 0px;
                  padding:5px 0px 0px 0px;
                  li{
                    display: inline-block;
                    font-size: 15px;
                    color: #514c4c;
                    padding-right: 15px;
                    font-family: "open_sansregular";
                    a{
                      color: #514c4c;
                      img{
                        max-width: 22px;
                      }
                    }
                  }
                }
              }
              &.inner-comment{
                padding: 10px 0px 10px 0px;
                border-top: 1px solid #d7d7d7;
                margin-top: 10px;
                .user-avatar{
                  width: 40px;
                  img{
                    width: 30px;
                    height: 30px;
                  }
                }
                .user-comment-detail{
                  h2{
                    font-size: 16px;
                    span{
                      font-size: 14px;
                    }
                  }
                  p{
                    font-size: 14px;
                  }
                  ul{
                    li{
                      font-size: 14px;
                      a{
                        color: #514c4c;
                        img{
                          max-width: 18px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .is-middle-ad-section{
            iframe{
              max-width: 100%;
            }
          }
        }
      }
      .is-right-ad-section {
        width: 25%;
        padding:30px 0px 0px 20px;
        .ads-box{
          background: #dfdfdf;
          width: 100%;
          height: 300px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 30px;
          font-family: "josefin_sansregular";
        }
        .related-audio-sec{
          >h2{
            font-size: 22px;
            color: #000;
            font-family: "open_sansregular";
            margin: 30px 0px 5px;
          }
          .related-audio{
              margin-bottom: 15px;
            .thumbnail-audio{
              width: 80px;
              position: relative;
              float: left;
              img{
                width:100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .related-audio-detail{
              float: left;
              padding: 0px 10px;
              width:calc(100% - 80px);
              h2{
                font-family: "josefin_sansregular";
                margin: 0px;
                font-size: 16px;
                color: #000;
              }
              p{
                font-family: "open_sansregular";
                font-size: 13px;
                font-weight: normal;
                color: #464444;
                line-height: 16px;
                margin-bottom: 0px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                height: 32px;
                overflow: hidden;
              }
              ul{
                margin: 0px;
                padding:2px 0px 0px 0px;
                li{
                  display: inline-block;
                  font-size: 12px;
                  color: #514c4c;
                  padding-right: 7px;
                  font-family: "open_sansregular";
                  a{
                    color: #514c4c;
                      img{
                        max-width: 14px;
                        &.bullet{
                          max-width: 7px;
                        }
                      }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  ::ng-deep .addthis_inline_share_toolbox {
    .at-share-btn-elements {
      .at-svc-facebook {
        background: transparent !important;
        .at-icon {
          fill: rgb(59, 89, 152) !important;
          border: 0;
        }
        &:hover {
          background: rgb(59, 89, 152) !important;
        }
        &:hover .at-icon {
          fill: #fff !important;
        }
      }
  
      .at-svc-twitter {
        background: transparent !important;
        .at-icon {
          fill: rgb(29, 161, 242) !important;
          border: 0;
        }
        &:hover {
          background: rgb(29, 161, 242) !important;
        }
        &:hover .at-icon {
          fill: #fff !important;
        }
      }
  
      .at-svc-messenger {
        background: transparent !important;
        .at-icon {
          fill: rgb(0, 132, 255) !important;
          border: 0;
        }
        &:hover {
          background: rgb(0, 132, 255) !important;
        }
        &:hover .at-icon {
          fill: #fff !important;
        }
      }
  
      .at-svc-whatsapp {
        background: transparent !important;
        .at-icon {
          fill: rgb(77, 194, 71) !important;
          border: 0;
        }
        &:hover {
          background: rgb(77, 194, 71) !important;
        }
        &:hover .at-icon {
          fill: #fff !important;
        }
      }
  
      .at-svc-compact {
        background: transparent !important;
        .at-icon {
          fill: rgb(255, 101, 80) !important;
          border: 0;
        }
        &:hover {
          background: rgb(255, 101, 80) !important;
        }
        &:hover .at-icon {
          fill: #fff !important;
        }
      }
    }
  }
  
  @media screen and (max-width: 580px) {
    .article-full-img img {
      height: 180px;
    }
    .is-article-block {
      margin-top: 50px;
      .is-article-sec {
        .is-left-profile {
          width: 100%;
          .sticky-box{
            padding:20px 0px;
            .is-profile {
              a {
                margin-top: -90px;
              }
            }
          }
        }
        .is-main-article-content {
          width: 100%;
          margin-top: 0px;
          padding: 20px;
          .is-content {
            .is-head {
              h2 {
                span {
                  font-size: 24px;
                }
              }
              .is-small-profile {
                display: block;
                .is-date {
                  text-align: left;
                  padding-top: 20px;
                }
              }
            }
            .is-body {
              .is-paragraph {
                p {
                  font-size: 16px;
                  strong {
                    font-size: 20px;
                  }
                }
              }
             
            }
          }
  
        }
        .is-right-ad-section {
          width: 100%;
          padding:0px;
        }
      }
      .article-related {
        padding: 15px;
        .item-card {
          margin-bottom: 20px;
        }
      }
    }
  }
  
  @media screen and (min-width: 581px) and (max-width: 768px) {
    .article-full-img img {
      height: 350px;
    }
    .is-article-block {
      margin-top: 50px;
      .is-article-sec {
        .is-left-profile {
          width: 100%;
          .is-profile {
            a {
              margin-top: -90px;
            }
          }
        }
        .is-main-article-content {
          width: 100%;
          margin-top: 0px;
          padding: 20px;
          .is-content {
            .is-head {
              h2 {
                span {
                  font-size: 28px;
                }
              }
            }
            .is-body {
              .is-paragraph {
                p {
                  font-size: 16px;
                  strong {
                    font-size: 20px;
                  }
                }
              }
            }
          }
  
        }
        .is-right-ad-section {
          width: 100%;
          padding:0px;
        }
      }
      .article-related {
        padding: 15px;
        .item-card {
          margin-bottom: 20px;
        }
      }
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .article-full-img img {
      height: 450px;
    }
    .is-article-block {
      margin-top: 50px;
      .is-article-sec {
        .is-left-profile {
          width: 100%;
          .is-profile {
            a {
              margin-top: -90px;
            }
          }
          .sticky-box {
            top: 170px;
          }
        }
        .is-main-article-content {
          width: 100%;
          margin-top: 0px;
          padding: 20px;
          .is-content {
            .is-head {
              h2 {
                span {
                  font-size: 34px;
                }
              }
            }
            .is-body {
              .is-paragraph {
                p {
                  font-size: 16px;
                  strong {
                    font-size: 20px;
                  }
                }
              }
            }
          }
  
          
        }
        .is-right-ad-section {
          width: 100%;
          padding:0px;
        }
      }
      .article-related {
        padding: 15px;
        .item-card {
          margin-bottom: 20px;
        }
      }
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .is-article-block {
      margin-top: 50px;
      .is-article-sec {
        .is-left-profile {
          width: 100%;
          .is-profile {
            a {
              margin-top: -90px;
            }
          }
          .sticky-box {
            top: 170px;
          }
        }
        .is-main-article-content {
          width: 100%;
          margin-top: 0px;
          padding: 20px;
          .is-content {
            .is-head {
              h2 {
                span {
                  font-size: 34px;
                }
              }
            }
            .is-body {
              .is-paragraph {
                p {
                  font-size: 16px;
                  strong {
                    font-size: 20px;
                  }
                }
              }
            }
          }
  
        }
        .is-right-ad-section {
          width: 100%;
          padding:0px;
        }
      }
      .article-related {
        padding: 15px;
        .item-card {
          margin-bottom: 20px;
        }
      }
    }
  }
  @media screen and (min-width: 1201px) and (max-width: 1499px) {
    .is-article-block {
      .is-article-sec {
        .is-left-profile {
          width: 30%;
          .is-profile {
            a {
              margin-top: -90px;
            }
          }
          .sticky-box {
            top: 120px;
          }
        }
        .is-main-article-content {
          width: 60%;
          margin-top: 0px;
          padding: 20px;
        }
      }
      .is-right-ad-section {
        width: 20%;
        padding:0px;
      }
    }
  }
  @media screen and (min-width: 1500px) {
    .container {
      width: 1520px;
      max-width: 100%;
      margin: auto;
    }
  }
  
  
 
  
  @media screen and (min-width:1200px) and (max-width:1359px){
    .is-article-block{
      margin-top: 65px;
    }
    .is-article-block .is-article-sec .is-left-profile .sticky-box {
      top: 190px;
  }
  }
  