<section class="is-article-block">
   <div class="container">
      <div class="article-full-img">
         <img *ngIf="fundraiser" [src]='fundraiser?.image?.url' [alt]='fundraiser?.image?.alt'/>
      </div>
      <div class="is-article-sec">
         <div class="is-left-profile">
            <div class="sticky-box">
               <!-- <div class="is-profile">
                  <a>
                     <img class="avatar" src="assets/images/charity/badge-pink.png" alt="charity logo"/>
                  </a>
               </div> -->

               <div class="is-author-name-sec">
                  <div class="logo">
                     <a [routerLink]="[getAuthorUrl(fundraiser),fundraiserAuthor.slug]" itemprop="url" *ngIf="fundraiser">
                        <img class="avatar" [src]="fundraiser?.author?.avatar?.url"
                            [alt]="fundraiser?.author?.avatar?.alt"
                            onerror="this.src='assets/images/default-avatar.png'" />
                    </a>
                     <app-article-avatar *ngIf="fundraiser" [article]="fundraiser"></app-article-avatar>
                  </div>
                  <span [routerLink]="[getAuthorUrl(fundraiser),fundraiserAuthor.slug]" class="is-author-name">
                     <a>
                         <span class="name">{{ fundraiser?.author?.fullname }}</span>
                     </a>
                 </span>
                  <div class="follow-btn-sec">
                    <div class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                     <a nz-button [nzLoading]="isUpdatingFollow"><img src="assets/images/article/icon/follow.png" alt="Follow Image" >{{ "followFundraiser" | translate }}</a>
                  </div>
                  <div class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                        <a nz-button [nzLoading]="isUpdatingFollow"><img src="assets/images/article/icon/un-follow.png" alt="Unfollow Image"/>{{ "unfollowFundraiser" | translate }}</a>
                  </div>
                  </div>
              </div>
               
            </div>
         </div>
         <div class="is-main-article-content">
            <div class="company-img">
               <img *ngIf="fundraiser" [src]="fundraiser?.logo?.url" [alt]="fundraiser?.logo?.alt"  onerror="this.src='assets/images/default-avatar.png'"/>
            </div>
            <div class="is-content">
               <div class="is-head">
                  <div class="company-name">
                     <h1>
                        <a>
                           {{ fundraiser?.title }}
                        </a>
                     </h1>
                  </div>
                  <div class="media-section">
                     <div class="addthis_inline_share_toolbox"></div>
                  </div>
                  <div class="clearfix"></div>
               </div>
               <div class="is-body">
                  <div class="fundraiser-content">
                     <!-- <h2>{{ fundraiser?.title }}</h2> -->
                     <!-- <div class="d-inline-block mb-4">
                        <h5>
                           <b>{{ fundraiser?.goal_amount | currency :'USD':'symbol':'1.0-2' }}</b>
                              MTS Raised {{ fundraiser?.amount | currency :'USD':'symbol':'1.0-2' }}
                        </h5>
                        <nz-progress [nzPercent]="donationPercentage" [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"></nz-progress>
                     </div> -->
                     <p class="big mb-3">{{ fundraiser?.excerpt }}</p>
                     <div class="is-paragraph">
                        <p class="big " innerHTML="{{ fundraiser?.content }}"></p>
                     </div>
                  </div>
                  <!-- <div *ngIf="fundraiser?.type === VIDEO" class="main-video-sec">
                     <cl-video [public-id]="fundraiser?.fundraising_file?.cloudinary_id" secure="true" controls="true" class="cld-video"></cl-video>
                  </div> -->
                  <!-- <div *ngIf="fundraiser?.type === AUDIO" class="main-audio-sec">
                        <cl-video [public-id]="fundraiser?.fundraising_file?.cloudinary_id" resource-type="video" class="cld-audio-wave">
                           <cl-transformation flags="waveform"></cl-transformation>
                        </cl-video>
                        <cl-video [public-id]="fundraiser?.fundraising_file?.cloudinary_id" secure="true" controls="true" class="cld-audio"></cl-video>
                  </div> -->
               </div>
            </div>
         </div>
         <div class="is-right-ad-section">
            <div class="charity-form">
               <h5>
                  <b>{{ fundraiser?.goal_amount | currency :'USD':'symbol':'1.0-2' }}</b>
                   MTS Raised {{ fundraiser?.amount | currency :'USD':'symbol':'1.0-2' }}
               </h5>
                  
               <nz-progress [nzPercent]="donationPercentage" [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"></nz-progress>
               
               <div class="donor-detail pb-4">
                  <div class="donor-row">
                     <span>{{ fundraiser?.donor_count | number:'1.0-0' }}</span>
                     {{ 'fundraiserDonors' | translate }}
                  </div>
                  
                  <div class="donor-row">
                     <span>{{ authorFollowersCount }}</span>
                     {{ "profileFollowers" | translate }}
                  </div>
                  <!-- <div class="donor-row">
                     <span>2</span>
                     Days Left
                  </div> -->
               </div>
               <div class="text-center pb-3" *ngIf="fundraiserAuthor && fundraiserAuthor?.stripe_status == 'active'">
                   <button type="button" class="donation-btn" nz-button nzType="primary" (click)="showModal()"><i class="fas fa-heart"></i> Donate Now</button>
                   <nz-modal
                   [(nzVisible)]="isVisible"
                   nzTitle="{{ 'donateFundraiserTitle' | translate }}"
                   (nzOnCancel)="handleCancel()"
                   >
                  <div class="charity-form">
                     <form nz-form [formGroup]="donateForm" (ngSubmit)="submitForm()" ngxStripeCardGroup [elementsOptions]="elementsOptions">
                        <nz-alert class="m-b-10" nzType="success" nzMessage="{{'donatedSuccessfully' | translate}}" nzShowIcon *ngIf="donateSuccess"></nz-alert>
                        <div class="row">
                        <nz-form-item  class="col-lg-6">
                           <nz-form-control nzErrorTip="{{'donateFirstNameError' | translate}}">
                                 <input type="text" nz-input formControlName="first_name" placeholder="{{'donateInputFirstName' | translate}}" id="firstName">
                           </nz-form-control>
                        </nz-form-item>

                        <nz-form-item  class="col-lg-6">
                           <nz-form-control nzErrorTip="{{'donateLastNameError' | translate}}">
                                 <input type="text" nz-input formControlName="last_name" placeholder="{{'donateInputLastName' | translate}}" id="lastName">
                           </nz-form-control>
                        </nz-form-item>

                        <nz-form-item  class="col-lg-6">
                           <nz-form-control nzErrorTip="{{'donateEmailError' | translate}}">
                                 <input type="email" nz-input formControlName="email" placeholder="{{'donateInputEmail' | translate}}" id="email">
                           </nz-form-control>
                        </nz-form-item>

                        <nz-form-item  class="col-lg-6">
                           <nz-form-control nzErrorTip="{{'donateMobileError' | translate}}">
                                 <input type="number" nz-input formControlName="mobile_number" placeholder="{{'donateInputPhoneNumber' | translate}}" id="phoneNumber">
                           </nz-form-control>
                        </nz-form-item>
                     
                        <nz-form-item  class="col-lg-12">
                           <nz-form-control nzErrorTip="{{'donateAmountError' | translate}}">
                                 <nz-input-group nzAddOnBefore="$">
                                    <input type="number" nz-input formControlName="amount" placeholder="{{'donateInputAmount' | translate}}" id="amount">
                                 </nz-input-group>
                           </nz-form-control>
                        </nz-form-item>

                        <nz-form-item   class="col-lg-12">
                           <nz-form-control nzErrorTip="{{'donateMessageError' | translate}}">
                                 <textarea rows="3" nz-input formControlName="message" placeholder="{{'donateInputMessage' | translate}}" id="message"></textarea>
                           </nz-form-control>
                        </nz-form-item>
                        <div class="col-lg-12">
                        <div nz-row class="card-info" [ngClass]="{'errorBorder' : showInvalidCardError}">
                           <p class="card-header">{{ "paymentDetails" | translate }}</p>
                           <div nz-col nzSpan="24" class="card-number-col">
                                 <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
                           </div>
                           <div nz-col nzSpan="11" class="card-expiry-col">
                                 <ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry>
                           </div>
                           <div nz-col nzSpan="12" class="card-cvc-col">
                                 <ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc>
                           </div>
                        </div>
                     </div>
                        <p *ngIf="showInvalidCardError" class="err-msg">{{ "invalidCardErrorMessage" | translate }}</p>

                        <div class="w-100">
                           <nz-form-item>
                                 <nz-form-control>
                                    <div class="text-center">
                                       <button nz-button class="is-login-btn mt-20" [nzLoading]="isFormSaving" [nzType]="'primary'">{{"leadSubmit" | translate}}</button>
                                    </div>
                                 </nz-form-control>
                           </nz-form-item>
                        </div>
                     </div>
                     </form>
                  </div>
                   </nz-modal>   
               </div>
               <div class="share-sec text-center">
                 
               </div>
            </div>
           
            
         </div>
      </div>
   </div>
</section>