.page-title {
	color: #000;
	padding: 30px 0px 10px 0px;
	font-weight: bold;
	font-size: 28px;
	width: 100%;
	text-align: center;
	font-family: "josefin_sanssemibold";
	position: relative;
	margin-bottom: 10px;
	&:after {
		content: "";
		position: absolute;
		bottom: 0px;
		width: 60px;
		height: 1px;
		background: #000;
		margin: auto;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.accordian-sec{
	margin-top:20px;
	::ng-deep .ant-collapse {
		border: 0px;
		.ant-collapse-item {
			margin-bottom: 20px;
			border: 1px solid #eee;
			box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.02);
			.ant-collapse-header {
				background: #fff;
				padding: 15px 40px;
				color: #000 !important;
				cursor: pointer;
				font-family: "josefin_sansregular";
				font-size: 18px;
				position: relative;
				&.ant-collapse-item-active{
					border-bottom: 1px solid #eee;

				}
			}
			.accordian-body {
				padding: 0px;
				background: #fff;
				p {
					font-family: "open_sansregular";
					font-size: 15px;
					font-weight: normal;
					color: #464444;
					line-height: 24px;
				}
				img {
					width:500px;
					max-width: 100%;
					display: block;
					margin-bottom: 20px;
				}
				ol {
					margin: 0px;
					padding: 0px;
					li {
						font-family: "open_sansregular";
						font-size: 16px;
						color: #464444;
						line-height: 36px;
						margin-left: 20px;
						img {
							max-width: 500px;
							display: block;
							margin-left: -20px;
							margin-bottom: 20px;
						}
					}
				}
				
			}
		}
	}
}

@media screen and (max-width:580px){
	img{
		width: 100% !important;
	}
}
@media screen and (max-width:1359px){
	.page-title{
		margin-bottom: 40px;
		margin-top: 60px;
	}
}