img{
  max-width: 100%;
}
.article-full-img {
  position: relative;
}
hr{
    border-top: 1px solid #eee;
    margin-top: 20px;
    margin-bottom: 20px;
}
.article-full-img::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.article-full-img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.is-article-block {
  background: #fff;
  .is-article-sec {
    display: flex;
    flex-wrap: wrap;
    .sticky-box {
      position: sticky;
      top: 70px;
      background-color: #fff;
      padding: 20px;
    }
    .is-left-profile {
      width: calc(100% - (700px + 25%));
      .is-profile {
        text-align: center;
        position: relative;
        width: 140px;
        margin: auto;
        a {
          display: inline-block;
          img {
            width: 140px;
            height: 140px;
            border-radius: 100%;
            margin: auto;
            object-fit: cover;
            background: #f5f5f5; 
          }
        }
        .special-icon{
          position: absolute;
          top: -10px;
          right: -10px;
          width: 50px;
          height: 50px;
          background: #000;
          border: 1px solid #fff;
          display: flex;
          border-radius: 100%;
          img{
            max-width: 28px !important;
            margin: auto;
          }
        }
      }
      .is-author-name-sec {
        text-align: center;
        .is-author-name {
          a {
            display: block;
            font-family: "josefin_sanssemibold";
            .name {
              display: inline-block;
              font-size: 24px;
              color: #fd6147;
              padding-top: 15px;
            }
            &.follow-btn {
              color: #042c99;
              font-size: 20px;
              img {
                max-width: 16px;
                vertical-align: text-top;
              }
            }
          }
        }
      }
      .is-like-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          font-size: 20px;
          color: #042c99;
          font-family: "josefin_sanssemibold";
          margin: 0px 4px;
          &.is-like {
            min-width: 85px;
            .far {
              font-size: 17px;
            }
            .likes-count{
              .fas{
                font-size: 19px;
                margin: 0px 10px 0px 10px;
              }
            }
          }
          img {
            max-width: 16px;
            margin-right: 7px;
            vertical-align: text-top;
          }
        }
      }
      .left-media {
        text-align: center;
        h3 {
          color: #fd6147;
          font-size: 22px;
          font-family: "josefin_sanssemibold";
          text-align: center;
          text-transform: capitalize;
        }
        .at-label {
          display: none;
        }
      }
      .is-influencer-btn {
        position: relative;
        width: 130px;
        height: 130px;
        text-align: center;
        background: #fd6147;
        border-radius: 100%;
        font-size: 20px;
        color: #fff;
        font-family: "josefin_sanssemibold";
        display: flex;
        margin: 20px auto 0px;
        cursor: pointer;
        outline: none;
        span {
          margin: auto;
          line-height: 24px;
          &:after {
            content: "";
            position: absolute;
            width: 140px;
            height: 140px;
            top: -5px;
            left: -5px;
            border: 3px solid #fd6147;
            border-radius: 100%;
          }
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0px;
          right: -10px;
          background: url(../../../assets/images/article/icon/influencer.png) center center no-repeat;
          width: 50px;
          height: 50px;
          background-size: 40px;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0px;
          left: -20px;
          background: url(../../../assets/images/article/icon/influencer.png) center center no-repeat;
          width: 50px;
          height: 50px;
          background-size: 40px;
          z-index: 1;
        }
      }
    }
    .is-divider {
      position: relative;
      padding-bottom: 7px;
      margin-bottom: 10px;
      &:before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 1px;
        background: #e3e3e3;
      }
    }
    .is-main-article-content {
      width: 700px;
      padding: 30px;
      margin-top: -110px;
      z-index: 1;
      background: #fff;
      .is-head {
        h1 {
          a {
            span {
              font-family: "josefin_sanssemibold";
              text-align: center;
              display: block;
              font-size: 28px;
              color: #000;
              line-height: 35px;
            }
          }
        }
        .is-small-profile {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          flex-wrap: wrap;
          max-width: 100%;
          margin: 20px auto 50px auto;
          .is-image {
            flex: 1;
            a {
              img {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                object-fit: cover;
              }
              .name {
                font-family: "josefin_sansregular";
                font-size: 15px;
                display: inline-block;
                color: #000;
                margin-left: 10px;
              }
            }
          }
          .is-date {
            flex: 1;
            text-align: right;
            font-family: "josefin_sansitalic";

            a {
              font-family: "josefin_sanssemibold";
              color: #fd6147 !important;
            }
          }
        }
      }
      .is-body {
        .is-paragraph {
          p {
            font-family: "open_sansregular";
            font-size: 15px;
            font-weight: normal;
            color: #464444;
            line-height: 33px;
            margin-bottom: 0px;
            &.big::first-letter {
              font-size: 100px;
              color: #fd6147;
            }
            h3{
              margin: 0px;
            }
            h2{
              margin: 0px;
              color: #000;
              font-family: "josefin_sanssemibold";
              font-size: 22px;
              margin-top: 30px;
              display: block;
            }
            strong {
              color: #000;
              font-family: "josefin_sanssemibold";
              font-size: 22px;
              margin-top: 30px;
              display: block;
            }
            &.para-bg {
              background: #f5f5f5;
              padding: 20px;
              border-top: 2px solid #fd6147;
            }
          }
          .feature-sec {
            padding: 40px 0px;
            .featured-img {
              position: relative;
              &:after {
                content: "";
                position: absolute;
                top: 30px;
                left: 40px;
                background: url(../../../assets/images/article/icon/dot.png) center center repeat;
                background-size: 10px;
                width: calc(100% - 50px);
                height: 100%;
              }
              img {
                max-width: calc(100% - 40px);
                position: relative;
                z-index: 1;
              }
            }
          }
          ul {
            margin: 30px 0px;
            li {
              list-style: none;
              position: relative;
              padding-left: 16px;
              font-family: "josefin_sansregular";
              font-size: 16px;
              line-height: 27px;
              color: #000;
              &::before {
                content: "";
                position: absolute;
                top: 6px;
                left: 0px;
                width: 8px;
                height: 8px;
                background: #000;
                border-radius: 50px;
              }
            }
          }
        }
        .is-middle-ad-section{
          iframe{
            max-width: 100%;
          }
        }
        .main-audio-sec{
          .cld-audio-wave{
            width:100%;
            height: 100px;
          }
          .cld-audio{
            width:100%;
            height: 80px;
          }
          .video-control{
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            .btn-download{
              flex: 1;
              text-align: right;
              .video-download-btn{
                background: #cccccc;
                color: rgb(10, 7, 7);
                padding: 8px 10px;
                display: inline-flex;
                align-items: center;
                border: 0px;
                font-family: "open_sansregular";
                img{
                  max-width:16px;
                  margin-right: 10px;
                }
              }
            }
            ul{
              margin: 0px;
              padding:2px 0px 0px 0px;
              li{
                display: inline-block;
                font-size: 16px;
                color: #514c4c;
                padding-right: 15px;
                font-family: "open_sansregular";
                a{
                  color: #514c4c;
                    img{
                      max-width: 20px;
                      &.bullet{
                        max-width: 7px;
                      }
                    }
                }
              }
            }
          }
        }
        .main-video-sec{
          .cld-video{
            width:100%;
            height: 400px;
          }
          .video-control{
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            .btn-download{
              flex: 1;
              text-align: right;
              .video-download-btn{
                background: #cccccc;
                color: rgb(10, 7, 7);
                padding: 8px 10px;
                display: inline-flex;
                align-items: center;
                border: 0px;
                font-family: "open_sansregular";
                img{
                  max-width:16px;
                  margin-right: 10px;
                }
              }
            }
            ul{
              margin: 0px;
              padding:2px 0px 0px 0px;
              li{
                display: inline-block;
                font-size: 16px;
                color: #514c4c;
                padding-right: 15px;
                font-family: "open_sansregular";
                a{
                  color: #514c4c;
                    img{
                      max-width: 20px;
                      &.bullet{
                        max-width: 7px;
                      }
                    }
                }
              }
            }
          }
        }
        .is-comment-sec {
          .is-line {
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 10px;
            &:after {
              content: "";
              position: absolute;
              bottom: 0px;
              left: 0px;
              width: 100%;
              height: 1px;
              background: #ccc;
            }
          }
          .is-share {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
  
            h2 {
              font-size: 30px;
              font-family: "josefin_sanssemibold";
              color: #000;
              margin-right: 30px;
            }
          }
  
          .is-reply-sec {
            h2 {
              font-size: 30px;
              font-family: "josefin_sanssemibold";
              color: #000;
              margin-right: 30px;
            }
            .is-comment {
              display: flex;
              flex-wrap: wrap;
              .is-comment-img {
                margin-right: 20px;
                img {
                  width: 40px;
                  height: 40px;
                  border-radius: 100%;
                }
              }
              .is-comment-detail {
                .is-comment-user-name {
                  font-family: "josefin_sansregular";
                  color: #000;
                  font-size: 18px;
                  .comment-date {
                    font-size: 14px;
                    color: #938f8e;
                    font-family: "josefin_sanslight";
                    font-style: italic;
                    display: block;
                  }
                }
                .comment-reply-btn {
                  font-family: "josefin_sanslight";
                  color: #fd6147;
                  font-size: 20px;
                }
                .comment-view-replies {
                  font-family: "josefin_sanslight";
                  color: #fd6147;
                  font-size: 20px;
                }
                p {
                  color: #000;
                  font-size: 16px;
                  font-family: "open_sansregular";
                }
              }
            }
  
            .comment-reply-form {
              .form-group {
                margin-bottom: 20px;
                h2 {
                  font-family: "josefin_sanslight";
                  font-size: 20px;
                  color: #000;
                  margin-top: 40px;
                  font-weight: 600;
                }
                .form-control {
                  color: #968686;
                  font-family: "josefin_sansitalic";
                  font-size: 16px;
                  border: 0px;
                  border-bottom: 1px solid #eee;
                  width: 100%;
                  outline: none;
                  font-weight: normal;
                  &.textarea {
                    height: 60px;
                  }
                  ::-webkit-input-placeholder {
                    color: #968686;
                    font-weight: normal;
                  }
  
                  :-ms-input-placeholder {
                    color: #968686;
                    font-weight: normal;
                  }
  
                  ::placeholder {
                    color: #968686;
                    font-weight: normal;
                  }
                }
                .is-btn {
                  font-family: "josefin_sanssemibold";
                  color: #fff;
                  background: #fd6147;
                  padding: 12px 20px 10px 20px;
                  border: 0px;
                  margin-top: 20px;
                  font-size: 22px;
                  line-height: 24px;
                }
              }
              .captcha-container {
                .captcha-input {
                  border: 1px solid #eee;
                  outline: none;
                  margin-left: 20px;
                  height: 40px;
                }
                .js-captcha-refresh {
                  border: 0px;
                  background: #fd6147;
                  color: #fff;
                  height: 40px;
                  width: 40px;
                  text-align: center;
                  line-height: 40px;
                }
              }
            }
          }
        }
      }
    }
    .is-right-ad-section {
      width: 25%;
      padding:30px 0px 0px 20px;
      .ads-box{
        background: #dfdfdf;
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        font-family: "josefin_sansregular";
      }
      .related-article-sec{
        >h2{
          border-bottom: 1px solid #eee;
          font-size: 22px;
          color: #000;
          font-family: "open_sansregular";
          margin: 30px 0px 15px;
        }
        .related-video{
            margin-bottom: 15px;
          .thumbnail-video{
            width: 120px;
            height: 100px;
            position: relative;
            float: left;
            img{
              width:100%;
              height: 100%;
              object-fit: cover;
            }
            .overlay-detail{
              position: absolute;
              top: 0px;
              left: 0px;
              width: 100%;
              height: 100%;
              display: flex;
              .time{
                position: absolute;
                top: 0px;
                left: 0px;
                text-align: center;
                padding: 0px 4px;
                font-size: 11px;
                background: #fd6147;
                color: #fff;
                display: inline-block;
              }
              .play-btn{
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background: #fff;
                display: flex;
                margin: auto;
                
                i{
                  color: #fd6147;
                  font-size: 12px;
                  margin: auto;
                }
              }
            }
          }
          .related-video-detail{
            float: left;
            padding: 0px 10px;
            width:calc(100% - 120px);
            h2{
              font-family: "josefin_sansregular";
              margin: 0px;
              font-size: 16px;
              color: #000;
              overflow: hidden;
              height: 32px;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            p{
              font-family: "open_sansregular";
              font-size: 13px;
              font-weight: normal;
              color: #464444;
              line-height: 16px;
              margin-bottom: 0px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              height: 32px;
              overflow: hidden;
            }
            ul{
              margin: 0px;
              padding:2px 0px 0px 0px;
              li{
                display: inline-block;
                font-size: 12px;
                color: #514c4c;
                padding-right: 5px;
                font-family: "open_sansregular";
                a{
                  color: #514c4c;
                    img{
                      max-width: 14px;
                      &.bullet{
                        max-width: 7px;
                      }
                    }
                }
              }
            }
          }
        }
      }
      .related-article-sec{
        >h2{
          font-size: 22px;
          color: #000;
          font-family: "open_sansregular";
          margin: 30px 0px 15px;
        }
        .related-audio{
          margin-bottom: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid #f5f5f5;
          .thumbnail-audio{
            width: 120px;
            height: 100px;
            position: relative;
            float: left;
            img{
              width:100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .related-audio-detail{
            float: left;
            padding: 0px 10px;
            width:calc(100% - 120px);
            h2{
              font-family: "josefin_sansregular";
              margin: 0px;
              font-size: 16px;
              color: #000;
              overflow: hidden;
              height: 32px;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            p{
              font-family: "open_sansregular";
              font-size: 13px;
              font-weight: normal;
              color: #464444;
              line-height: 16px;
              margin-bottom: 0px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              height: 32px;
              overflow: hidden;
            }
            ul{
              margin: 0px;
              padding:2px 0px 0px 0px;
              li{
                display: inline-block;
                font-size: 12px;
                color: #514c4c;
                padding-right: 7px;
                font-family: "open_sansregular";
                a{
                  color: #514c4c;
                    img{
                      max-width: 14px;
                      &.bullet{
                        max-width: 7px;
                      }
                    }
                }
              }
            }
          }
        }
      }
    }
  }
  .article-related {
    background: #eee;
    padding: 50px;
    .item-card {
      border: 1px solid #eee;
      min-height: 290px;
      box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.02);
      background: #fff;
      .caption {
        padding: 10px;
        h3 {
          color: #000000;
          font-size: 18px;
          font-family: "josefin_sanssemibold";
          span {
            display: block;
            color: #838282;
            font-size: 16px;
            font-family: "josefin_sanslight";
          }
        }

        .is-read-more {
          background: transparent;
          border: 0px;
          color: #fd6147;
          display: flex;
          align-items: center;
          font-family: "josefin_sansregular";
          font-size: 18px;
          padding-left: 0px;
          outline: none;
          position: relative;
          cursor: pointer;
          padding: 0px;
          &:before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 1px;
            background: #fd6147;
          }
          img {
            margin-left: 10px;
          }
        }
      }
      .img-container {
        img {
          width: 100%;
        }
      }
    }
  }
}

::ng-deep .addthis_inline_share_toolbox {
  .at-share-btn-elements {
    .at-svc-facebook {
      background: transparent !important;
      .at-icon {
        fill: rgb(59, 89, 152) !important;
        border: 0;
      }
      &:hover {
        background: rgb(59, 89, 152) !important;
      }
      &:hover .at-icon {
        fill: #fff !important;
      }
    }

    .at-svc-twitter {
      background: transparent !important;
      .at-icon {
        fill: rgb(29, 161, 242) !important;
        border: 0;
      }
      &:hover {
        background: rgb(29, 161, 242) !important;
      }
      &:hover .at-icon {
        fill: #fff !important;
      }
    }

    .at-svc-messenger {
      background: transparent !important;
      .at-icon {
        fill: rgb(0, 132, 255) !important;
        border: 0;
      }
      &:hover {
        background: rgb(0, 132, 255) !important;
      }
      &:hover .at-icon {
        fill: #fff !important;
      }
    }

    .at-svc-whatsapp {
      background: transparent !important;
      .at-icon {
        fill: rgb(77, 194, 71) !important;
        border: 0;
      }
      &:hover {
        background: rgb(77, 194, 71) !important;
      }
      &:hover .at-icon {
        fill: #fff !important;
      }
    }

    .at-svc-compact {
      background: transparent !important;
      .at-icon {
        fill: rgb(255, 101, 80) !important;
        border: 0;
      }
      &:hover {
        background: rgb(255, 101, 80) !important;
      }
      &:hover .at-icon {
        fill: #fff !important;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .article-full-img img {
    height: 180px;
  }
  .is-article-block {
    margin-top: 50px;
    .container{
      width:100%;
    }
    .is-article-sec {
      .is-left-profile {
        width: 100%;
        .sticky-box{
          padding:20px 0px;
          .is-profile {
            a {
              margin-top: -90px;
            }
            .special-icon{
              position: absolute;
              top: -60px;
            }
          }
        }
      }
      .is-main-article-content {
        width: 100%;
        margin-top: 0px;
        padding: 20px;
        .is-content {
          .is-head {
            h2 {
              span {
                font-size: 20px;
              }
            }
            .is-small-profile {
              display: block;
              .is-date {
                text-align: left;
                padding-top: 20px;
              }
            }
          }
          .is-body {
            .is-paragraph {
              p {
                font-size: 16px;
                strong {
                  font-size: 20px;
                }
              }
              .feature-sec {
                padding: 40px 0px 0px 0px;
                ul {
                  margin: 60px 0px 30px 0px;
                }
              }
            }
          }
        }

        .is-comment-sec {
          .is-comment {
            .is-comment-detail {
              .pull-left {
                float: none;
                margin-top: 20px;
              }
              .pull-right {
                float: none;
              }
            }
          }
          .comment-reply-form {
            .captcha-container {
              .captcha-input {
                margin-left: 0px !important;
              }
            }
          }
        }
      }
      .is-right-ad-section {
        width: 100%;
        padding:0px;
      }
    }
    .article-related {
      padding: 15px;
      .item-card {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 581px) and (max-width: 768px) {
  .article-full-img img {
    height: 250px;
  }
  .is-article-block {
    margin-top: 50px;
    .container{
      width:100%;
    }
    .is-article-sec {
      .is-left-profile {
        width: 100%;
        .is-profile {
          a {
            margin-top: -90px;
          }
          .special-icon{
            position: absolute;
            top: -60px;
          }
        }
      }
      .is-main-article-content {
        width: 100%;
        margin-top: 0px;
        padding: 20px;
        .is-content {
          .is-head {
            h2 {
              span {
                font-size: 22px;
              }
            }
          }
          .is-body {
            .is-paragraph {
              p {
                font-size: 16px;
                strong {
                  font-size: 20px;
                }
              }
              .feature-sec {
                padding: 40px 0px 0px 0px;
                ul {
                  margin: 60px 0px 30px 0px;
                }
              }
            }
          }
        }

        .is-comment-sec {
          .is-comment {
            .is-comment-detail {
              margin-top: 20px;
            }
          }
          .comment-reply-form {
            .captcha-container {
              .captcha-input {
                margin-left: 0px !important;
              }
            }
          }
        }
      }
      .is-right-ad-section {
        width: 100%;
        padding:0px;
      }
    }
    .article-related {
      padding: 15px;
      .item-card {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .article-full-img img {
    height: 330px;
  }
  .is-article-block {
    margin-top: 50px;
    .container{
      width:100%;
    }
    .is-article-sec {
      .is-left-profile {
        width: 100%;
        .is-profile {
          a {
            margin-top: -90px;
          }
          .special-icon{
            position: absolute;
            top: -60px;
          }
        }
        .sticky-box {
          top: 170px;
        }
      }
      .is-main-article-content {
        width: 100%;
        margin-top: 0px;
        padding: 20px;
        .is-content {
          .is-head {
            h2 {
              span {
                font-size: 22px;
              }
            }
          }
          .is-body {
            .is-paragraph {
              p {
                font-size: 16px;
                strong {
                  font-size: 20px;
                }
              }
              .feature-sec {
                padding: 40px 0px 0px 0px;
                ul {
                  margin: 60px 0px 30px 0px;
                }
              }
            }
          }
        }

        .is-comment-sec {
          .is-comment {
            .is-comment-detail {
              margin-top: 20px;
            }
          }
          .comment-reply-form {
            .captcha-container {
              .captcha-input {
                margin-left: 0px !important;
              }
            }
          }
        }
      }
      .is-right-ad-section {
        width: 100%;
        padding:0px;
      }
    }
    .article-related {
      padding: 15px;
      .item-card {
        margin-bottom: 20px;
      }
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1279px) {
  .is-article-block {
    margin-top: 50px;
    .container{
      width:100%;
    }
    .is-article-sec {
      .is-left-profile {
        width: 100%;
        border-bottom:1px solid #eee;
        margin-bottom: 25px;
        .is-profile {
          a {
            margin-top: -90px;
          }
          .special-icon{
            position: absolute;
            top: -60px;
          }
        }
      }
      .is-main-article-content {
        width: 60%;
        margin-top: 0px;
        padding: 20px;
        .is-content {
          .is-head {
            h2 {
              span {
                font-size: 24px;
                text-align: left;
              }
            }
          }
          .is-body {
            .is-paragraph {
              p {
                strong {
                  font-size: 18px;
                }
              }
              .feature-sec {
                padding: 40px 0px 0px 0px;
                ul {
                  margin: 60px 0px 30px 0px;
                }
              }
            }
          }
        }

        .is-comment-sec {
          .is-comment {
            .is-comment-detail {
              margin-top: 20px;
            }
          }
          .comment-reply-form {
            .captcha-container {
              .captcha-input {
                margin-left: 0px !important;
              }
            }
          }
        }
      }
      .is-right-ad-section {
        width: 40%;
        padding:0px;
        .related-article-sec{
          >h2{
            margin: 15px 0px 10px;
          }
        }
      }
    }
    .article-related {
      padding: 15px;
      .item-card {
        margin-bottom: 20px;
      }
    }
  }
}
@media screen and (min-width: 1280px) and (max-width: 1359px) {
  .is-article-block {
    margin-top: 0px !important;
    .container{
      width:100%;
    }
    .is-article-sec {
      .is-left-profile {
        border-bottom:1px solid #eee;
        margin-bottom: 25px;
        width: calc(100% - (650px + 25%));
        .sticky-box{
          top:70px !important
        }
        .is-profile {
          .special-icon{
            position: absolute;
            top: -60px;
          }
        }
      }
      .is-main-article-content {
        padding: 15px;
        width: 650px;
        .is-content {
          .is-head {
            h2 {
              span {
                font-size: 22px;
                text-align: left;
              }
            }
          }
          .is-body {
            .is-paragraph {
              p {
                strong {
                  font-size: 18px;
                }
              }
              .feature-sec {
                padding: 40px 0px 0px 0px;
                ul {
                  margin: 60px 0px 30px 0px;
                }
              }
            }
          }
        }

        .is-comment-sec {
          .is-comment {
            .is-comment-detail {
              margin-top: 20px;
            }
          }
          .comment-reply-form {
            .captcha-container {
              .captcha-input {
                margin-left: 0px !important;
              }
            }
          }
        }
      }
      .is-right-ad-section {
        padding:0px;
        .related-article-sec{
          >h2{
            margin: 15px 0px 10px;
          }
        }
      }
    }
    .article-related {
      padding: 15px;
      .item-card {
        margin-bottom: 20px;
      }
    }
  }
}
@media screen and (min-width: 1360px) and (max-width: 1499px) {
  .container{
    width: 100%;
  }
  .is-article-block {
      margin-top: 0px;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    width: 1520px;
    max-width: 100%;
    margin: auto;
  }
}
.replay-container-wrapper {
  padding: 10px;
  background: #fbfafa99;
  .reply-container {
    border-left: 5px solid #f35e5e;
    margin: 0px;
    padding-left: 5px;
  }
  .ql-container {
    background: #fff;
  }
  .ql-toolbar {
    background: #fff;
  }
}
.replied-comment {
  blockquote {
    border-left: 5px solid #fd6147;
    padding: 0 5px 5px;
  }
}
.is-comment-detail nz-spin {
  display: inline;
  .ng-star-inserted {
    display: inline-block;
  }
}
.comment-view-replies nz-spin {
  display: inline-flex;
}

@media screen and (min-width:1200px) and (max-width:1359px){
  .is-article-block{
    margin-top: 65px;
  }
  .is-article-block .is-article-sec .is-left-profile .sticky-box {
    top: 190px;
}
}
